<a href="https://colab.research.google.com/github/vindhya-jain/CanvasCart/blob/main/art.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install faker

Requirement already satisfied: faker in /usr/local/lib/python3.10/dist-packages (28.4.1)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)

# START

In [ ]:
import sqlite3
from faker import Faker
import random
import string

In [ ]:
# Initialize Faker for generating dummy data
fake = Faker()

# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('CanvasCart.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

In [ ]:
# Drop the Artwork table
cursor.execute('DROP TABLE IF EXISTS Artwork')

### Create Table

In [ ]:
# Create User table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS User (
        UserID INTEGER PRIMARY KEY AUTOINCREMENT,
        FirstName TEXT NOT NULL,
        LastName TEXT NOT NULL,
        Email TEXT NOT NULL UNIQUE,
        Role TEXT CHECK(Role IN ('Artist', 'Buyer')) NOT NULL
    )
''')
# Create Authentication  table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS AuthenticationSystem (
        LoginID INTEGER PRIMARY KEY,
        Password VARCHAR NOT NULL,
        FOREIGN KEY (LoginID) REFERENCES User(UserID)

    )
''')

# Create Artist table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Artist (
        ArtistID INTEGER PRIMARY KEY,
        Biography TEXT,
        PortfolioURL TEXT,
        FOREIGN KEY (ArtistID) REFERENCES User(UserID)
    )
''')

# Create Buyer table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Buyer (
        BuyerID INTEGER PRIMARY KEY,
        ShippingAddress TEXT NOT NULL,
        Membership INTEGER NOT NULL CHECK(Membership IN (0, 1)),
        FOREIGN KEY (BuyerID) REFERENCES User(UserID)
    )
''')

# Create Artwork table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Artwork (
        ArtworkID TEXT PRIMARY KEY,
        ArtistID INTEGER,
        Title TEXT NOT NULL,
        Description TEXT,
        ImageURL TEXT,
        Medium TEXT,
        Style TEXT,
        Price REAL NOT NULL,
        Availability INTEGER NOT NULL CHECK(Availability >= 0),
        FOREIGN KEY (ArtistID) REFERENCES Artist(ArtistID)
    )
''')

# Create Order table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS "Orders" (
        OrderID INTEGER PRIMARY KEY AUTOINCREMENT,
        BuyerID INTEGER,
        OrderDate DATE DEFAULT CURRENT_DATE,
        TotalAmount REAL NOT NULL,
        PaymentStatus TEXT CHECK(PaymentStatus IN ('Pending', 'Completed', 'Failed')) NOT NULL,
        ShippingStatus TEXT CHECK(ShippingStatus IN ('Order Confirmed', 'Shipped', 'Delivered', 'Canceled')) NOT NULL,
        FOREIGN KEY (BuyerID) REFERENCES Buyer(BuyerID)
    )
''')

# Create Item table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Item (
        ArtworkID INTEGER,
        OrderID INTEGER,
        Quantity INTEGER NOT NULL,
        Amount REAL,
        PRIMARY KEY (ArtworkID, OrderID),
        FOREIGN KEY (OrderID) REFERENCES Orders(OrderID),
        FOREIGN KEY (ArtworkID) REFERENCES Artwork(ArtworkID)
    )
''')

# Create a trigger to update Amount when a new row is inserted or updated
cursor.execute('''
    CREATE TRIGGER IF NOT EXISTS update_item_amount
    AFTER INSERT ON Item
    FOR EACH ROW
    BEGIN
        UPDATE Item
        SET Amount = (
            SELECT Price FROM Artwork WHERE ArtworkID = NEW.ArtworkID
        ) * NEW.Quantity
        WHERE ArtworkID = NEW.ArtworkID;
    END
''')

# Create ShoppingCart table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS ShoppingCart (
        CartID INTEGER PRIMARY KEY,
        LastUpdatedDate DATE,
        LastUpdatedTime TIME,
        FOREIGN KEY (CartID) REFERENCES Buyer(BuyerID)
    )
''')

# Create Payment table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Payment (
        PaymentID INTEGER PRIMARY KEY AUTOINCREMENT,
        OrderID INTEGER,
        PaymentMethod TEXT CHECK ( PaymentMethod IN ('UPI', 'CreditCard', 'DebitCard', 'NetBanking','COD')) NOT NULL,
        FOREIGN KEY (OrderID) REFERENCES Orders(OrderID)
    )
''')

# Create Review table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Review (
        ReviewID INTEGER PRIMARY KEY AUTOINCREMENT,
        BuyerID INTEGER,
        ArtworkID INTEGER,
        Rating INTEGER NOT NULL CHECK(Rating >= 1 AND Rating <= 5),
        ReviewText TEXT NOT NULL,
        FOREIGN KEY (BuyerID) REFERENCES Buyer(BuyerID),
        FOREIGN KEY (ArtworkID) REFERENCES Artwork(ArtworkID)
    )
''')

### Extra

In [ ]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('CanvasCart.db')
cursor = conn.cursor()

# List of all tables to be emptied
tables = [
    'Review',
    'Payment',
    'Item',
    'Orders',
    'ShoppingCart',
    'Artwork',
    'Buyer',
    'Artist',
    'AuthenticationSystem',
    'User'
]

# Disable foreign key checks to avoid constraint errors while truncating
cursor.execute('PRAGMA foreign_keys = OFF')

# Empty each table
for table in tables:
    cursor.execute(f'DELETE FROM {table}')
    cursor.execute(f'DELETE FROM sqlite_sequence WHERE name="{table}"')  # Reset autoincrement counter

# Re-enable foreign key checks
cursor.execute('PRAGMA foreign_keys = ON')

# Commit the changes
conn.commit()

print("All tables have been emptied.")

All tables have been emptied.

In [ ]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('CanvasCart.db')
cursor = conn.cursor()

# Query to show all tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

# Fetch and print the table names
tables = cursor.fetchall()
print("Tables in the database:")
for table in tables:
    print(table[0])

Tables in the database:
User
sqlite_sequence
AuthenticationSystem
Artist
Buyer
Orders
Item
ShoppingCart
Payment
Review
Artwork

In [ ]:
# Execute a query to retrieve all rows from the User table
cursor.execute('SELECT * FROM User')

# Fetch all rows from the executed query
rows = cursor.fetchall()

# Print each row
for row in rows:
    print(row)

### Insert dummy data

In [ ]:
from faker import Faker
import sqlite3
import random

# Initialize Faker for generating dummy data
fake = Faker()

# Connect to SQLite database
conn = sqlite3.connect('CanvasCart.db')
cursor = conn.cursor()

# Function to insert data into the User, AuthenticationSystem, Artist, and Buyer tables
def insert_users_and_related_tables(num_artists, num_buyers):
    artist_ids = []
    buyer_ids = []

    # Insert artists
    for _ in range(num_artists):
        first_name = fake.first_name()
        last_name = fake.last_name()
        email = fake.email()
        cursor.execute('''
            INSERT INTO User (FirstName, LastName, Email, Role)
            VALUES (?, ?, ?, ?)
        ''', (first_name, last_name, email, 'Artist'))
        artist_id = cursor.lastrowid
        artist_ids.append(artist_id)

        # Insert into AuthenticationSystem
        cursor.execute('''
            INSERT INTO AuthenticationSystem (LoginID, Password)
            VALUES (?, ?)
        ''', (artist_id, fake.password()))

        # Insert into Artist table
        cursor.execute('''
            INSERT INTO Artist (ArtistID, Biography, PortfolioURL)
            VALUES (?, ?, ?)
        ''', (artist_id, fake.text(), fake.url()))

    # Insert buyers
    for _ in range(num_buyers):
        first_name = fake.first_name()
        last_name = fake.last_name()
        email = fake.email()
        cursor.execute('''
            INSERT INTO User (FirstName, LastName, Email, Role)
            VALUES (?, ?, ?, ?)
        ''', (first_name, last_name, email, 'Buyer'))
        buyer_id = cursor.lastrowid
        buyer_ids.append(buyer_id)

        # Insert into AuthenticationSystem
        cursor.execute('''
            INSERT INTO AuthenticationSystem (LoginID, Password)
            VALUES (?, ?)
        ''', (buyer_id, fake.password()))

        # Insert into Buyer table
        cursor.execute('''
            INSERT INTO Buyer (BuyerID, ShippingAddress, Membership)
            VALUES (?, ?, ?)
        ''', (buyer_id, fake.address(), random.choice([0, 1])))

    # Commit the changes
    conn.commit()
    return artist_ids, buyer_ids

# Function to insert data into the Artwork, Order, Item, ShoppingCart, Payment, and Review tables
def insert_artworks_and_related_tables(artist_ids, buyer_ids):
    artwork_ids = []
    medium_counts = {}  # Dictionary to track counts for each medium

    # Insert artworks
    for artist_id in artist_ids:
        for _ in range(random.randint(0, 5)):  # Each artist creates 1-5 artworks
            medium = random.choice(['Oil', 'Acrylic', 'Watercolor', 'Digital','Sculpture'])
            medium_prefix = medium[:3].upper()
            if medium_prefix not in medium_counts:
                medium_counts[medium_prefix] = 0
            medium_counts[medium_prefix] += 1
            artwork_id = f'{medium_prefix}_{str(medium_counts[medium_prefix]).zfill(2)}'

            cursor.execute('''
                INSERT INTO Artwork (ArtworkID, ArtistID, Title, Description, ImageURL, Medium, Style, Price, Availability)
                VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
            ''', (
                artwork_id,
                artist_id,
                fake.sentence(nb_words=3),
                fake.text(),
                fake.url(),
                medium,
                random.choice(['Abstract', 'Realism', 'Impressionism', 'Modern']),
                round(random.uniform(100.0, 10000.0), 2),
                random.randint(1, 20)  # Number of units available
            ))
            artwork_ids.append(artwork_id)

    # Insert orders and related data
    for buyer_id in buyer_ids:
        for _ in range(random.randint(0, 3)):  # Each buyer places 1-3 orders
            cursor.execute('''
                INSERT INTO "Orders" (BuyerID, TotalAmount, PaymentStatus, ShippingStatus)
                VALUES (?, ?, ?, ?)
            ''', (
                buyer_id,
                round(random.uniform(100.0, 5000.0), 2),
                random.choice(['Pending', 'Completed', 'Failed']),
                random.choice(['Order Confirmed', 'Shipped', 'Delivered', 'Canceled'])
            ))
            order_id = cursor.lastrowid

            # Insert items related to the order
            selected_artworks = set()  # Track selected artworks for each order
            for _ in range(random.randint(1, 5)):  # Each order has 1-5 items
                while True:  # Ensure no duplicate ArtworkID in the same order
                    artwork_id = random.choice(artwork_ids)
                    if artwork_id not in selected_artworks:
                        selected_artworks.add(artwork_id)
                        break
                quantity = random.randint(1, 5)

                # Fetch the price of the selected artwork
                cursor.execute('''
                    SELECT Price FROM Artwork WHERE ArtworkID = ?
                ''', (artwork_id,))
                price = cursor.fetchone()[0]

                # Check if this ArtworkID already exists in the current order
                cursor.execute('''
                    SELECT Quantity FROM Item WHERE OrderID = ? AND ArtworkID = ?
                ''', (order_id, artwork_id))
                existing_item = cursor.fetchone()

                if existing_item:
                    # If it exists, increment the quantity
                    new_quantity = existing_item[0] + quantity
                    cursor.execute('''
                        UPDATE Item SET Quantity = ?, Amount = ? * Quantity WHERE OrderID = ? AND ArtworkID = ?
                    ''', (new_quantity, price, order_id, artwork_id))
                else:
                    # If it doesn't exist, insert a new row
                    amount = price * quantity
                    cursor.execute('''
                        INSERT INTO Item (OrderID, ArtworkID, Quantity, Amount)
                        VALUES (?, ?, ?, ?)
                    ''', (order_id, artwork_id, quantity, amount))

            # Insert into ShoppingCart
            cursor.execute('''
                SELECT CartID FROM ShoppingCart WHERE CartID = ?
            ''', (buyer_id,))
            cart_exists = cursor.fetchone()

            if not cart_exists:  # If no cart exists, insert a new one
                cursor.execute('''
                    INSERT INTO ShoppingCart (CartID, LastUpdatedDate, LastUpdatedTime)
                    VALUES (?, ?, ?)
                ''', (
                    buyer_id,
                    fake.date(),
                    fake.time()
                ))
            else:  # If cart exists, update it
                cursor.execute('''
                    UPDATE ShoppingCart
                    SET LastUpdatedDate = ?, LastUpdatedTime = ?
                    WHERE CartID = ?
                ''', (
                    fake.date(),
                    fake.time(),
                    buyer_id
                ))

            # Insert payment details
            cursor.execute('''
                INSERT INTO Payment (OrderID, PaymentMethod)
                VALUES (?, ?)
            ''', (order_id, random.choice(['UPI', 'CreditCard', 'DebitCard', 'NetBanking', 'COD'])))

            # Insert reviews
            for _ in range(random.randint(1, 2)):  # Each buyer reviews 1-2 items
                artwork_id = random.choice(artwork_ids)
                cursor.execute('''
                    INSERT INTO Review (BuyerID, ArtworkID, Rating, ReviewText)
                    VALUES (?, ?, ?, ?)
                ''', (
                    buyer_id,
                    artwork_id,
                    random.randint(1, 5),
                    fake.paragraph()
                ))

    # Commit the changes
    conn.commit()

# Populate the database with dummy data
artist_ids, buyer_ids = insert_users_and_related_tables(10, 40)
insert_artworks_and_related_tables(artist_ids, buyer_ids)

# Retrieve and print some data to verify
cursor.execute('SELECT * FROM User')
users = cursor.fetchall()
print("\nUsers:")
for user in users:
    print(user)

cursor.execute('SELECT * FROM Artwork')
artworks = cursor.fetchall()
print("\nArtworks:")
for artwork in artworks:
    print(artwork)

cursor.execute('SELECT * FROM Item ORDER BY OrderID')
items = cursor.fetchall()
print("\nItems:")
for item in items:
    print(item)

Users:
(1, 'Mark', 'Smith', 'alison69@example.net', 'Artist')
(2, 'Taylor', 'Andrews', 'rodriguezmegan@example.com', 'Artist')
(3, 'Holly', 'Alvarado', 'valentinesean@example.net', 'Artist')
(4, 'Jeffrey', 'Martinez', 'woodalejandro@example.com', 'Artist')
(5, 'Sara', 'Newman', 'abright@example.net', 'Artist')
(6, 'Brett', 'Clements', 'elizabethshaw@example.net', 'Artist')
(7, 'Ryan', 'Harrison', 'hbridges@example.org', 'Artist')
(8, 'Suzanne', 'Wright', 'qhowell@example.net', 'Artist')
(9, 'John', 'Martinez', 'belindagilbert@example.net', 'Artist')
(10, 'Candice', 'Park', 'sydney78@example.com', 'Artist')
(11, 'Melissa', 'Yoder', 'michael77@example.org', 'Buyer')
(12, 'Kristina', 'Walsh', 'hickschristopher@example.org', 'Buyer')
(13, 'Jessica', 'Robinson', 'christopherbenjamin@example.com', 'Buyer')
(14, 'Mark', 'Wu', 'nguyensharon@example.com', 'Buyer')
(15, 'Eugene', 'Rhodes', 'bonniesimon@example.com', 'Buyer')
(16, 'Regina', 'Sampson', 'daniel02@example.com', 'Buyer')
(17, 'Robin', 'Gregory', 'joannachristian@example.com', 'Buyer')
(18, 'John', 'Brown', 'juliebyrd@example.net', 'Buyer')
(19, 'Beth', 'Stanley', 'rvillarreal@example.net', 'Buyer')
(20, 'Robert', 'Roberts', 'kfields@example.com', 'Buyer')
(21, 'Courtney', 'James', 'djimenez@example.net', 'Buyer')
(22, 'Deborah', 'Porter', 'eashley@example.com', 'Buyer')
(23, 'Andrew', 'Hawkins', 'daniel85@example.org', 'Buyer')
(24, 'Jacqueline', 'Henson', 'enewton@example.com', 'Buyer')
(25, 'Matthew', 'Walters', 'susan58@example.net', 'Buyer')
(26, 'Vincent', 'Anderson', 'hbradford@example.com', 'Buyer')
(27, 'Laura', 'Gentry', 'tanderson@example.net', 'Buyer')
(28, 'Pamela', 'Harris', 'maria92@example.net', 'Buyer')
(29, 'Victoria', 'Maldonado', 'lewisbenjamin@example.org', 'Buyer')
(30, 'Lisa', 'Sutton', 'robert91@example.org', 'Buyer')
(31, 'Alexandra', 'Villanueva', 'denisestewart@example.net', 'Buyer')
(32, 'Lauren', 'Meza', 'schavez@example.com', 'Buyer')
(33, 'Candace', 'Bowman', 'annalewis@example.org', 'Buyer')
(34, 'Julie', 'Ray', 'gdowns@example.com', 'Buyer')
(35, 'Daniel', 'Garcia', 'jamescastaneda@example.net', 'Buyer')
(36, 'Lisa', 'Rodriguez', 'lindseyfarmer@example.org', 'Buyer')
(37, 'Adam', 'Daniel', 'victorneal@example.org', 'Buyer')
(38, 'Raymond', 'Miles', 'ashley25@example.org', 'Buyer')
(39, 'Paul', 'Baker', 'bowersdawn@example.com', 'Buyer')
(40, 'Melissa', 'Crawford', 'briansuarez@example.com', 'Buyer')
(41, 'Russell', 'Wiley', 'yhorne@example.com', 'Buyer')
(42, 'Mark', 'Roberts', 'christopherhall@example.com', 'Buyer')
(43, 'Sarah', 'Carter', 'edward71@example.org', 'Buyer')
(44, 'Robert', 'Petersen', 'luke91@example.org', 'Buyer')
(45, 'Andrew', 'Campbell', 'alexandereverett@example.net', 'Buyer')
(46, 'David', 'Price', 'amyhudson@example.net', 'Buyer')
(47, 'Matthew', 'Vasquez', 'rebecca18@example.com', 'Buyer')
(48, 'Joy', 'Snyder', 'jonathan78@example.net', 'Buyer')
(49, 'Andrew', 'Nunez', 'qmora@example.net', 'Buyer')
(50, 'Brett', 'Evans', 'torresdarlene@example.net', 'Buyer')

Artworks:
('OIL_01', 1, 'Than national.', 'Spring own move score light certain science. Back site another spring. Career turn any. In production campaign organization industry.', 'http://smith.biz/', 'Oil', 'Abstract', 4033.46, 18)
('ACR_01', 1, 'It learn baby.', 'Conference inside response explain newspaper.\nWorry cost themselves long card hotel. End situation position write raise he.\nListen national media can.', 'https://brown.com/', 'Acrylic', 'Modern', 6148.36, 15)
('SCU_01', 1, 'Plan age mind.', 'Building sign campaign compare friend financial everything. See figure teach hand.\nAccording long race head road. Fine and remain training we.', 'http://www.blake.com/', 'Sculpture', 'Modern', 5778.19, 7)
('SCU_02', 1, 'Family best.', 'Light together person position across knowledge. Until enjoy first interview. Force card believe contain more or.', 'https://richards.com/', 'Sculpture', 'Impressionism', 2042.83, 8)
('ACR_02', 2, 'Memory night six.', 'Peace tonight money building involve region race. Short check song decade employee successful report as.', 'https://www.gates.net/', 'Acrylic', 'Modern', 851.41, 18)
('DIG_01', 2, 'Call community.', 'Much on experience around. Draw as close prove. Whether bill car station.\nIndustry son social. Receive board result modern door. Environment discuss research bit you itself forget store.', 'http://www.crosby.com/', 'Digital', 'Impressionism', 5859.53, 20)
('DIG_02', 2, 'Government pull movement.', 'Through another amount see about sell bad. Let form present peace hard ago save. Necessary sort which accept find cause. One time single face you three shake.\nLose method structure could.', 'http://roach-thompson.org/', 'Digital', 'Modern', 828.71, 9)
('WAT_01', 2, 'Parent chair.', 'Hotel strategy health people quickly through.\nWorker wall western summer. Kid two respond effect general money something degree. Week mind happy hot throw rule real.', 'http://bishop.com/', 'Watercolor', 'Realism', 1051.71, 20)
('OIL_02', 3, 'Go like brother.', 'Situation guess new right term campaign. Personal debate even four.\nPerform cup guy keep.\nEntire vote arrive person specific truth.\nWriter analysis husband pattern.', 'https://abbott.com/', 'Oil', 'Impressionism', 4628.2, 14)
('DIG_03', 3, 'Child deal perhaps.', 'Sign analysis write before fight skin truth. Treat should partner economic return factor ability lead.\nSave choose Mr score quickly local. Stand water spend rest kitchen.', 'https://jones.com/', 'Digital', 'Modern', 1830.28, 12)
('WAT_02', 4, 'Political grow.', 'Make along need training list speak. Activity social material trip protect successful. Position interest get behavior property.\nRed western need write clear animal money.', 'http://www.reynolds.com/', 'Watercolor', 'Modern', 8016.05, 9)
('ACR_03', 4, 'Tell name admit.', 'Society tax view answer art majority Republican. Wear job practice of. Continue save body with nice. Within eat green clear society play keep.', 'https://www.elliott.net/', 'Acrylic', 'Realism', 2346.55, 16)
('WAT_03', 4, 'Carry can.', 'Hope learn accept section manager spend. Stop must small parent something security discussion. Fish town avoid including Democrat and under.', 'http://www.wallace.com/', 'Watercolor', 'Impressionism', 268.78, 7)
('SCU_03', 4, 'Federal world.', 'Style radio rich image factor energy federal. Draw building take require make station really. Body carry worry mention.', 'https://grant.com/', 'Sculpture', 'Impressionism', 9765.23, 17)
('OIL_03', 4, 'Huge never particular.', 'Across degree occur head. Base billion take interesting world.\nEnvironmental position full analysis development. Upon often by that worker.', 'https://farley-payne.org/', 'Oil', 'Modern', 8615.57, 9)
('WAT_04', 6, 'Issue focus minute.', 'Six popular effort economic.\nCall thing include right still treat statement occur. Policy television record itself most. Sure pattern million.', 'https://jones.biz/', 'Watercolor', 'Modern', 1324.17, 18)
('WAT_05', 6, 'Somebody finish.', 'Crime show nation month perhaps modern. Sport record ever push they.\nNew decade man trial language bag east.', 'http://www.hinton.net/', 'Watercolor', 'Abstract', 8821.27, 18)
('OIL_04', 6, 'Significant from.', 'Whatever more financial sometimes task. Before attack direction. Today different great will road hear fight.\nMr dream financial. Study reveal scene.', 'http://www.gonzalez.com/', 'Oil', 'Realism', 5530.89, 9)
('ACR_04', 6, 'Present respond fast.', 'Available act once condition research. Story window such brother boy movie.\nSecond soon reduce home school.', 'http://www.price.info/', 'Acrylic', 'Abstract', 5926.32, 17)
('DIG_04', 7, 'Themselves do green.', 'Adult guess hit series your theory. Rich keep lot run far.\nActivity make top education feeling ok. Quite character site rather reason sort public.', 'http://www.morris-fritz.info/', 'Digital', 'Abstract', 5304.85, 5)
('ACR_05', 7, 'Yard stand sit.', 'Better fine indicate according. Mr there structure last pressure recent maintain.\nSection section from interesting kind hold. Participant region member example manager.', 'http://nguyen.com/', 'Acrylic', 'Realism', 9500.44, 1)
('OIL_05', 7, 'Cell soon.', 'Smile build forget watch city memory which. Month run fear worker turn many.\nKnow him design particular. Process yet rich else offer industry to.', 'http://www.moody.com/', 'Oil', 'Abstract', 743.33, 14)
('OIL_06', 7, 'Build story military.', 'Seat career third administration. Amount seek still section.\nSpecific necessary common cell. Peace couple approach recently.', 'http://www.johnson.info/', 'Oil', 'Abstract', 6516.03, 11)
('SCU_04', 7, 'Two son.', 'Always baby tell continue through continue case. Mission inside action explain like investment still democratic. Community senior president people lose.', 'https://moreno.com/', 'Sculpture', 'Impressionism', 3362.97, 2)
('ACR_06', 8, 'Fact measure.', 'Here single most. Similar price certain boy. Believe walk itself yourself free relate face.\nGame free all kid. Nearly according money body five expert.', 'http://morris-hernandez.net/', 'Acrylic', 'Abstract', 5917.39, 15)
('DIG_05', 8, 'Yes.', 'Dream since charge experience support fast sport. Benefit answer need area training. Wall heart theory early when expect structure.', 'http://walker.com/', 'Digital', 'Realism', 5311.71, 2)
('DIG_06', 9, 'South brother just.', 'Like force program. Value instead offer table as low.\nLess national onto space other dog learn. Want here experience person weight everyone. Development quickly success conference federal sea bad.', 'http://hill.com/', 'Digital', 'Abstract', 7644.16, 15)
('WAT_06', 9, 'Bad dream president.', 'Blood shake reduce almost main. Beautiful service research create.\nAgree sure manage region several newspaper young end. Even somebody hotel age land over inside.', 'http://hayden.com/', 'Watercolor', 'Impressionism', 1638.27, 8)
('DIG_07', 9, 'Agency before.', 'Throughout close chance. Recently bed sound wrong head street writer win. Gun very a force those person institution.', 'https://diaz-moore.com/', 'Digital', 'Abstract', 9084.81, 7)
('DIG_08', 9, 'Nearly information glass.', 'Thank large generation instead authority dinner. One minute parent agree.', 'http://rocha-cunningham.com/', 'Digital', 'Abstract', 5176.14, 12)
('ACR_07', 9, 'Everyone.', 'Wife rock drive cultural. Similar degree letter morning old finally pick majority. Our create air go member.', 'http://rodriguez.biz/', 'Acrylic', 'Impressionism', 4405.94, 20)
('WAT_07', 10, 'Type build record.', 'Four unit mention first girl. More hit truth ball.\nBeyond economy away those effect debate improve. Reason white serve house picture reduce. Middle have name election agreement.', 'https://holland-lopez.com/', 'Watercolor', 'Abstract', 2931.25, 3)
('SCU_05', 10, 'Partner.', 'Public whether alone with middle other traditional. Bed suggest vote director practice especially. Glass base Republican production PM maintain. Star ball such your.', 'http://moore.com/', 'Sculpture', 'Abstract', 9712.14, 20)
('OIL_07', 10, 'Democrat news.', 'Different agreement church. Determine wish good.\nTraining case everyone positive film. Drive front little. Themselves responsibility important section actually.', 'http://durham.com/', 'Oil', 'Impressionism', 2793.27, 18)

Items:
('DIG_04', 1, 3, 26524.25)
('WAT_04', 2, 3, 3972.51)
('OIL_05', 2, 5, 743.33)
('ACR_06', 2, 5, 5917.39)
('SCU_01', 2, 2, 5778.19)
('ACR_06', 3, 5, 5917.39)
('SCU_02', 3, 4, 4085.66)
('OIL_01', 3, 5, 12100.380000000001)
('SCU_01', 3, 4, 5778.19)
('SCU_01', 4, 3, 5778.19)
('ACR_01', 4, 2, 30741.8)
('ACR_03', 4, 1, 9386.2)
('ACR_03', 5, 2, 9386.2)
('WAT_02', 5, 2, 8016.05)
('SCU_01', 6, 3, 5778.19)
('OIL_06', 6, 5, 19548.09)
('OIL_01', 6, 2, 12100.380000000001)
('WAT_02', 6, 5, 8016.05)
('SCU_02', 6, 4, 4085.66)
('OIL_03', 7, 1, 17231.14)
('OIL_05', 8, 2, 743.33)
('WAT_03', 8, 2, 806.3399999999999)
('DIG_06', 9, 5, 38220.8)
('OIL_07', 9, 5, 13966.35)
('ACR_03', 10, 2, 9386.2)
('DIG_05', 11, 2, 10623.42)
('SCU_03', 11, 2, 29295.69)
('ACR_07', 11, 5, 8811.88)
('WAT_07', 11, 5, 8793.75)
('ACR_03', 12, 4, 9386.2)
('ACR_06', 12, 5, 5917.39)
('WAT_06', 12, 3, 4914.8099999999995)
('SCU_03', 13, 1, 29295.69)
('DIG_08', 13, 5, 25880.7)
('OIL_06', 14, 2, 19548.09)
('DIG_02', 14, 2, 828.71)
('SCU_05', 14, 4, 29136.42)
('ACR_06', 14, 2, 5917.39)
('DIG_02', 15, 4, 828.71)
('WAT_03', 15, 3, 806.3399999999999)
('ACR_07', 15, 1, 8811.88)
('SCU_02', 15, 3, 4085.66)
('OIL_06', 16, 4, 19548.09)
('SCU_01', 16, 2, 5778.19)
('OIL_02', 17, 4, 18512.8)
('WAT_06', 17, 2, 4914.8099999999995)
('OIL_06', 17, 3, 19548.09)
('OIL_01', 17, 3, 12100.380000000001)
('DIG_06', 17, 5, 38220.8)
('OIL_01', 18, 5, 12100.380000000001)
('WAT_01', 19, 5, 3155.13)
('DIG_08', 19, 3, 25880.7)
('DIG_05', 20, 3, 10623.42)
('SCU_05', 20, 4, 29136.42)
('SCU_03', 20, 1, 29295.69)
('OIL_02', 20, 5, 18512.8)
('ACR_02', 20, 2, 4257.05)
('WAT_01', 21, 1, 3155.13)
('ACR_05', 21, 4, 9500.44)
('WAT_03', 21, 5, 806.3399999999999)
('ACR_06', 21, 5, 5917.39)
('SCU_04', 21, 2, 6725.94)
('OIL_05', 22, 3, 743.33)
('SCU_02', 22, 4, 4085.66)
('SCU_01', 23, 2, 5778.19)
('WAT_01', 23, 5, 3155.13)
('OIL_03', 24, 1, 17231.14)
('WAT_06', 25, 4, 4914.8099999999995)
('SCU_05', 25, 2, 29136.42)
('WAT_01', 26, 4, 3155.13)
('ACR_01', 26, 3, 30741.8)
('OIL_07', 27, 2, 13966.35)
('SCU_05', 28, 4, 29136.42)
('OIL_02', 28, 1, 18512.8)
('ACR_05', 28, 2, 9500.44)
('ACR_01', 28, 1, 30741.8)
('DIG_02', 29, 4, 828.71)
('WAT_02', 29, 3, 8016.05)
('DIG_04', 29, 2, 26524.25)
('WAT_01', 30, 5, 3155.13)
('DIG_08', 31, 4, 25880.7)
('ACR_02', 31, 4, 4257.05)
('SCU_02', 32, 4, 4085.66)
('WAT_03', 32, 5, 806.3399999999999)
('DIG_03', 32, 2, 1830.28)
('ACR_02', 32, 2, 4257.05)
('ACR_06', 32, 5, 5917.39)
('ACR_03', 33, 4, 9386.2)
('ACR_01', 33, 5, 30741.8)
('ACR_07', 34, 1, 8811.88)
('ACR_07', 35, 1, 8811.88)
('WAT_05', 35, 5, 35285.08)
('OIL_05', 35, 3, 743.33)
('SCU_01', 35, 2, 5778.19)
('OIL_05', 36, 3, 743.33)
('OIL_03', 36, 2, 17231.14)
('SCU_01', 36, 5, 5778.19)
('ACR_05', 36, 3, 9500.44)
('ACR_01', 36, 5, 30741.8)
('DIG_02', 37, 1, 828.71)
('WAT_04', 37, 3, 3972.51)
('OIL_02', 37, 3, 18512.8)
('SCU_05', 37, 4, 29136.42)
('SCU_04', 38, 1, 6725.94)
('WAT_06', 38, 4, 4914.8099999999995)
('ACR_05', 38, 3, 9500.44)
('ACR_05', 39, 2, 9500.44)
('OIL_01', 40, 3, 12100.380000000001)
('SCU_05', 40, 2, 29136.42)
('DIG_08', 40, 5, 25880.7)
('SCU_04', 40, 2, 6725.94)
('ACR_06', 40, 4, 5917.39)
('OIL_07', 41, 1, 13966.35)
('ACR_02', 41, 3, 4257.05)
('SCU_02', 41, 4, 4085.66)
('WAT_02', 42, 2, 8016.05)
('SCU_01', 42, 2, 5778.19)
('OIL_05', 42, 3, 743.33)
('OIL_07', 43, 3, 13966.35)
('ACR_01', 43, 5, 30741.8)
('ACR_05', 43, 5, 9500.44)
('SCU_01', 43, 1, 5778.19)
('WAT_01', 43, 5, 3155.13)
('DIG_04', 44, 1, 26524.25)
('DIG_07', 44, 3, 9084.81)
('ACR_02', 44, 5, 4257.05)
('OIL_03', 44, 1, 17231.14)
('DIG_02', 44, 2, 828.71)
('OIL_02', 45, 4, 18512.8)
('SCU_03', 45, 3, 29295.69)
('ACR_04', 45, 2, 11852.64)
('WAT_05', 45, 2, 35285.08)
('SCU_05', 45, 3, 29136.42)
('DIG_08', 46, 4, 25880.7)
('WAT_05', 46, 3, 35285.08)
('WAT_01', 47, 3, 3155.13)
('OIL_04', 47, 4, 5530.89)
('OIL_06', 47, 5, 19548.09)
('SCU_03', 47, 4, 29295.69)
('DIG_05', 47, 2, 10623.42)
('WAT_05', 48, 3, 35285.08)
('ACR_05', 48, 4, 9500.44)
('SCU_03', 48, 3, 29295.69)
('WAT_04', 48, 2, 3972.51)
('SCU_03', 49, 2, 29295.69)
('WAT_06', 49, 3, 4914.8099999999995)
('ACR_01', 49, 5, 30741.8)
('OIL_07', 49, 5, 13966.35)
('WAT_03', 50, 1, 806.3399999999999)
('OIL_07', 50, 1, 13966.35)
('DIG_04', 50, 3, 26524.25)
('ACR_06', 50, 4, 5917.39)
('ACR_06', 51, 5, 5917.39)
('SCU_05', 51, 1, 29136.42)
('DIG_03', 51, 2, 1830.28)
('OIL_04', 51, 1, 5530.89)
('ACR_06', 52, 2, 5917.39)
('WAT_04', 52, 3, 3972.51)
('DIG_03', 53, 1, 1830.28)
('SCU_03', 54, 3, 29295.69)
('WAT_01', 54, 2, 3155.13)
('SCU_02', 54, 2, 4085.66)
('OIL_07', 55, 5, 13966.35)
('OIL_06', 55, 3, 19548.09)
('DIG_01', 55, 5, 29297.649999999998)
('WAT_07', 55, 1, 8793.75)
('WAT_05', 55, 2, 35285.08)
('ACR_07', 56, 5, 8811.88)
('OIL_05', 56, 1, 743.33)
('DIG_05', 56, 2, 10623.42)
('WAT_03', 56, 1, 806.3399999999999)
('DIG_07', 56, 1, 9084.81)
('ACR_07', 57, 2, 8811.88)
('ACR_05', 57, 1, 9500.44)
('SCU_03', 57, 2, 29295.69)
('WAT_05', 57, 4, 35285.08)
('OIL_03', 57, 4, 17231.14)
('ACR_06', 58, 4, 5917.39)
('SCU_05', 58, 5, 29136.42)
('SCU_03', 58, 3, 29295.69)
('DIG_02', 59, 1, 828.71)
('WAT_01', 59, 1, 3155.13)
('SCU_05', 59, 3, 29136.42)
('DIG_04', 59, 3, 26524.25)
('ACR_06', 60, 1, 5917.39)
('ACR_05', 61, 1, 9500.44)
('DIG_04', 61, 5, 26524.25)
('WAT_02', 61, 1, 8016.05)
('DIG_02', 61, 5, 828.71)
('OIL_03', 62, 2, 17231.14)
('DIG_08', 62, 5, 25880.7)
('DIG_02', 62, 1, 828.71)
('WAT_03', 62, 3, 806.3399999999999)
('WAT_01', 63, 3, 3155.13)
('WAT_07', 64, 3, 8793.75)
('OIL_01', 65, 3, 12100.380000000001)
('WAT_06', 65, 3, 4914.8099999999995)

In [ ]:
cursor.execute('SELECT * FROM ARTIST')
artists = cursor.fetchall()
print("\nArtist:")
for artist in artists:
    print(artist)

Artist:
(1, 'Partner expert discover hold appear. Value offer practice want. Least forget suffer final call PM leave writer.', 'https://www.chung.com/')
(2, 'Them add note you though environment though. Son record already many concern. Little surface positive thus carry look know. Only sea position.', 'https://mitchell.info/')
(3, 'Quality mind deep through. Law mean term spring something.\nMedia it yard cell. Newspaper party and service data never example. Treatment kitchen study include report behavior.', 'https://www.hall-bentley.biz/')
(4, 'Mind item likely clear billion. Produce whose business despite their red.\nMan see military course. One when real people. Growth focus rule discussion at quite.', 'http://www.house.org/')
(5, 'Mrs paper art first grow. Accept tax person quickly activity subject meet.\nThere fight down sense against five.\nView main sea whose. Camera task put any arm tough.\nUnderstand yourself customer call.', 'http://wagner-jordan.info/')
(6, 'Dark like network I. Around lose play result thousand price. Point administration contain pass line.\nFinal space figure everybody goal. West project middle reach imagine me break sea.', 'https://lee.biz/')
(7, 'Fine billion add specific table out. Consumer media central.', 'https://cox-simon.com/')
(8, 'Series them including better. Describe adult executive these research. Majority study dream ever sometimes. Analysis water idea free condition source church reflect.', 'https://www.white.com/')
(9, 'Interest until foot break fish. Manage voice into pressure challenge marriage manager.\nWord often notice fund. Indicate however life within him account.\nReflect wind feeling onto present likely.', 'https://brown-travis.com/')
(10, 'Window worry indeed stand do. Page present wrong whose.\nBill south article grow increase. Defense task eat usually cup process. Itself American stage four pay different.', 'https://phillips.org/')

In [ ]:
# import sqlite3

# # Connect to SQLite database
# conn = sqlite3.connect('CanvasCart.db')
# cursor = conn.cursor()

# # Add OrderTime column to the Orders table
# cursor.execute('''
#     ALTER TABLE Orders
#     ADD COLUMN OrderTime TIME
# ''')

# conn.commit()

In [ ]:
from faker import Faker
import random
from datetime import datetime, timedelta

# Initialize Faker
fake = Faker()

# Function to generate a random time between 1 PM and 11 PM
def generate_random_time():
    hour = random.randint(13, 22)  # 1 PM is 13:00, 11 PM is 22:00
    minute = random.randint(0, 59)
    return f"{hour:02}:{minute:02}:00"

# Function to generate a random date within a specified range
def generate_random_date(start_date, end_date):
    start = datetime.strptime(start_date, '%Y-%m-%d')
    end = datetime.strptime(end_date, '%Y-%m-%d')
    random_date = start + timedelta(days=random.randint(0, (end - start).days))
    return random_date.strftime('%Y-%m-%d')

# Update OrderDate and OrderTime for existing orders
cursor.execute('SELECT OrderID FROM Orders')
orders = cursor.fetchall()

start_date = '2021-01-01'
end_date = '2024-09-01'

for (order_id,) in orders:
    random_date = generate_random_date(start_date, end_date)
    random_time = generate_random_time()
    cursor.execute('''
        UPDATE Orders
        SET OrderDate = ?, OrderTime = ?
        WHERE OrderID = ?
    ''', (random_date, random_time, order_id))

conn.commit()

In [ ]:
cursor.execute('SELECT * FROM Orders')
orders = cursor.fetchall()
print("\nOrders:")
for order in orders:
    print(order)

Orders:
(1, 11, '2024-03-20', 1692.68, 'Failed', 'Order Confirmed', '15:35:00')
(2, 11, '2023-10-18', 3162.51, 'Failed', 'Canceled', '14:22:00')
(3, 11, '2023-05-12', 272.2, 'Failed', 'Order Confirmed', '21:18:00')
(4, 12, '2023-03-13', 4965.8, 'Completed', 'Canceled', '19:30:00')
(5, 13, '2023-05-03', 4014.39, 'Completed', 'Canceled', '14:33:00')
(6, 13, '2023-11-22', 3225.23, 'Completed', 'Order Confirmed', '19:05:00')
(7, 13, '2022-09-17', 2838.7, 'Completed', 'Delivered', '18:05:00')
(8, 15, '2022-08-01', 4904.53, 'Failed', 'Order Confirmed', '13:29:00')
(9, 16, '2021-07-07', 2948.39, 'Completed', 'Shipped', '20:27:00')
(10, 17, '2024-07-06', 2766.17, 'Pending', 'Shipped', '18:23:00')
(11, 18, '2021-03-02', 2613.22, 'Failed', 'Shipped', '13:08:00')
(12, 18, '2022-03-01', 717.59, 'Completed', 'Canceled', '15:51:00')
(13, 18, '2023-01-08', 1051.79, 'Failed', 'Order Confirmed', '21:36:00')
(14, 19, '2024-01-14', 4893.27, 'Failed', 'Delivered', '14:56:00')
(15, 19, '2023-12-17', 1653.49, 'Pending', 'Shipped', '17:52:00')
(16, 19, '2021-01-10', 411.04, 'Pending', 'Delivered', '16:58:00')
(17, 20, '2022-04-03', 2399.47, 'Failed', 'Canceled', '21:42:00')
(18, 20, '2023-12-04', 1439.5, 'Pending', 'Canceled', '13:49:00')
(19, 21, '2024-07-23', 2375.49, 'Completed', 'Canceled', '13:53:00')
(20, 21, '2023-04-18', 927.19, 'Pending', 'Shipped', '16:30:00')
(21, 22, '2021-04-02', 2171.06, 'Pending', 'Canceled', '14:31:00')
(22, 23, '2021-03-20', 2624.23, 'Completed', 'Delivered', '17:17:00')
(23, 25, '2021-09-08', 103.55, 'Completed', 'Order Confirmed', '15:02:00')
(24, 26, '2024-06-24', 1819.75, 'Failed', 'Shipped', '17:19:00')
(25, 26, '2024-08-21', 398.35, 'Pending', 'Order Confirmed', '15:34:00')
(26, 26, '2022-11-26', 1465.18, 'Failed', 'Order Confirmed', '18:19:00')
(27, 27, '2023-09-16', 4414.26, 'Failed', 'Canceled', '14:43:00')
(28, 27, '2024-02-10', 1557.09, 'Pending', 'Order Confirmed', '14:57:00')
(29, 29, '2023-02-05', 3020.36, 'Failed', 'Canceled', '18:45:00')
(30, 30, '2022-12-12', 2370.73, 'Failed', 'Canceled', '20:36:00')
(31, 32, '2022-08-13', 1648.3, 'Completed', 'Canceled', '18:45:00')
(32, 32, '2023-07-05', 2676.4, 'Completed', 'Order Confirmed', '20:58:00')
(33, 32, '2022-05-10', 1817.51, 'Completed', 'Shipped', '20:02:00')
(34, 33, '2021-02-02', 2634.65, 'Completed', 'Order Confirmed', '14:37:00')
(35, 33, '2022-08-08', 706.88, 'Pending', 'Delivered', '15:26:00')
(36, 33, '2022-04-17', 1031.62, 'Pending', 'Canceled', '13:56:00')
(37, 34, '2021-05-11', 4637.87, 'Completed', 'Delivered', '14:53:00')
(38, 34, '2021-12-23', 4486.37, 'Pending', 'Shipped', '22:40:00')
(39, 34, '2022-11-04', 4326.93, 'Completed', 'Order Confirmed', '15:13:00')
(40, 35, '2023-08-14', 2839.07, 'Completed', 'Shipped', '13:03:00')
(41, 35, '2024-05-08', 3090.58, 'Pending', 'Canceled', '13:12:00')
(42, 37, '2022-10-01', 3413.39, 'Failed', 'Delivered', '21:04:00')
(43, 37, '2021-06-08', 1857.33, 'Completed', 'Order Confirmed', '16:50:00')
(44, 37, '2024-08-22', 1492.86, 'Failed', 'Shipped', '20:10:00')
(45, 38, '2021-06-14', 4960.77, 'Failed', 'Order Confirmed', '14:06:00')
(46, 40, '2021-08-09', 2358.29, 'Pending', 'Order Confirmed', '19:36:00')
(47, 40, '2022-05-25', 1189.04, 'Failed', 'Delivered', '21:42:00')
(48, 41, '2021-04-10', 3589.63, 'Failed', 'Delivered', '19:00:00')
(49, 41, '2024-07-18', 829.98, 'Pending', 'Canceled', '21:12:00')
(50, 41, '2022-06-06', 2191.53, 'Failed', 'Delivered', '15:19:00')
(51, 42, '2024-03-13', 4100.93, 'Pending', 'Delivered', '17:29:00')
(52, 42, '2023-04-19', 2878.96, 'Pending', 'Shipped', '15:04:00')
(53, 42, '2023-07-06', 312.76, 'Failed', 'Order Confirmed', '21:55:00')
(54, 43, '2022-10-11', 1151.03, 'Pending', 'Order Confirmed', '22:01:00')
(55, 44, '2023-04-09', 724.1, 'Completed', 'Shipped', '21:40:00')
(56, 44, '2024-08-14', 2096.73, 'Completed', 'Delivered', '18:02:00')
(57, 45, '2021-07-11', 1044.34, 'Completed', 'Delivered', '15:18:00')
(58, 45, '2021-05-08', 4939.97, 'Completed', 'Shipped', '19:14:00')
(59, 45, '2021-06-04', 3942.51, 'Failed', 'Delivered', '17:53:00')
(60, 46, '2023-10-08', 4912.67, 'Failed', 'Order Confirmed', '13:52:00')
(61, 46, '2022-06-15', 3638.78, 'Completed', 'Canceled', '22:23:00')
(62, 46, '2022-12-26', 1669.33, 'Pending', 'Delivered', '22:27:00')
(63, 48, '2021-01-15', 1159.73, 'Failed', 'Canceled', '17:42:00')
(64, 49, '2024-05-26', 4148.04, 'Completed', 'Canceled', '21:53:00')
(65, 50, '2023-05-17', 3722.81, 'Pending', 'Order Confirmed', '22:44:00')

### Display tables

In [ ]:
import pandas as pd
def display_table(query):
    cursor.execute(query)
    columns = [description[0] for description in cursor.description]
    data = cursor.fetchall()
    df = pd.DataFrame(data, columns=columns)
    print(df.to_string(index=False))

# Display tables without specifying columns
display_table('SELECT * FROM User')
display_table('SELECT * FROM Artwork')
display_table('SELECT * FROM Orders')
display_table('SELECT * FROM Item ORDER BY OrderID')

 UserID  FirstName   LastName                           Email   Role
      1       Mark      Smith            alison69@example.net Artist
      2     Taylor    Andrews      rodriguezmegan@example.com Artist
      3      Holly   Alvarado       valentinesean@example.net Artist
      4    Jeffrey   Martinez       woodalejandro@example.com Artist
      5       Sara     Newman             abright@example.net Artist
      6      Brett   Clements       elizabethshaw@example.net Artist
      7       Ryan   Harrison            hbridges@example.org Artist
      8    Suzanne     Wright             qhowell@example.net Artist
      9       John   Martinez      belindagilbert@example.net Artist
     10    Candice       Park            sydney78@example.com Artist
     11    Melissa      Yoder           michael77@example.org  Buyer
     12   Kristina      Walsh    hickschristopher@example.org  Buyer
     13    Jessica   Robinson christopherbenjamin@example.com  Buyer
     14       Mark         Wu        nguyensharon@example.com  Buyer
     15     Eugene     Rhodes         bonniesimon@example.com  Buyer
     16     Regina    Sampson            daniel02@example.com  Buyer
     17      Robin    Gregory     joannachristian@example.com  Buyer
     18       John      Brown           juliebyrd@example.net  Buyer
     19       Beth    Stanley         rvillarreal@example.net  Buyer
     20     Robert    Roberts             kfields@example.com  Buyer
     21   Courtney      James            djimenez@example.net  Buyer
     22    Deborah     Porter             eashley@example.com  Buyer
     23     Andrew    Hawkins            daniel85@example.org  Buyer
     24 Jacqueline     Henson             enewton@example.com  Buyer
     25    Matthew    Walters             susan58@example.net  Buyer
     26    Vincent   Anderson           hbradford@example.com  Buyer
     27      Laura     Gentry           tanderson@example.net  Buyer
     28     Pamela     Harris             maria92@example.net  Buyer
     29   Victoria  Maldonado       lewisbenjamin@example.org  Buyer
     30       Lisa     Sutton            robert91@example.org  Buyer
     31  Alexandra Villanueva       denisestewart@example.net  Buyer
     32     Lauren       Meza             schavez@example.com  Buyer
     33    Candace     Bowman           annalewis@example.org  Buyer
     34      Julie        Ray              gdowns@example.com  Buyer
     35     Daniel     Garcia      jamescastaneda@example.net  Buyer
     36       Lisa  Rodriguez       lindseyfarmer@example.org  Buyer
     37       Adam     Daniel          victorneal@example.org  Buyer
     38    Raymond      Miles            ashley25@example.org  Buyer
     39       Paul      Baker          bowersdawn@example.com  Buyer
     40    Melissa   Crawford         briansuarez@example.com  Buyer
     41    Russell      Wiley              yhorne@example.com  Buyer
     42       Mark    Roberts     christopherhall@example.com  Buyer
     43      Sarah     Carter            edward71@example.org  Buyer
     44     Robert   Petersen              luke91@example.org  Buyer
     45     Andrew   Campbell    alexandereverett@example.net  Buyer
     46      David      Price           amyhudson@example.net  Buyer
     47    Matthew    Vasquez           rebecca18@example.com  Buyer
     48        Joy     Snyder          jonathan78@example.net  Buyer
     49     Andrew      Nunez               qmora@example.net  Buyer
     50      Brett      Evans       torresdarlene@example.net  Buyer
ArtworkID  ArtistID                     Title                                                                                                                                                                                           Description                      ImageURL     Medium         Style   Price  Availability
   OIL_01         1            Than national.                                                                 Spring own move score light certain science. Back site another spring. Career turn any. In production campaign organization industry.             http://smith.biz/        Oil      Abstract 4033.46            18
   ACR_01         1            It learn baby.                                              Conference inside response explain newspaper.\nWorry cost themselves long card hotel. End situation position write raise he.\nListen national media can.            https://brown.com/    Acrylic        Modern 6148.36            15
   SCU_01         1            Plan age mind.                                                       Building sign campaign compare friend financial everything. See figure teach hand.\nAccording long race head road. Fine and remain training we.         http://www.blake.com/  Sculpture        Modern 5778.19             7
   SCU_02         1              Family best.                                                                                     Light together person position across knowledge. Until enjoy first interview. Force card believe contain more or.         https://richards.com/  Sculpture Impressionism 2042.83             8
   ACR_02         2         Memory night six.                                                                                              Peace tonight money building involve region race. Short check song decade employee successful report as.        https://www.gates.net/    Acrylic        Modern  851.41            18
   DIG_01         2           Call community.           Much on experience around. Draw as close prove. Whether bill car station.\nIndustry son social. Receive board result modern door. Environment discuss research bit you itself forget store.        http://www.crosby.com/    Digital Impressionism 5859.53            20
   DIG_02         2 Government pull movement.          Through another amount see about sell bad. Let form present peace hard ago save. Necessary sort which accept find cause. One time single face you three shake.\nLose method structure could.    http://roach-thompson.org/    Digital        Modern  828.71             9
   WAT_01         2             Parent chair.                                Hotel strategy health people quickly through.\nWorker wall western summer. Kid two respond effect general money something degree. Week mind happy hot throw rule real.            http://bishop.com/ Watercolor       Realism 1051.71            20
   OIL_02         3          Go like brother.                               Situation guess new right term campaign. Personal debate even four.\nPerform cup guy keep.\nEntire vote arrive person specific truth.\nWriter analysis husband pattern.           https://abbott.com/        Oil Impressionism 4628.20            14
   DIG_03         3       Child deal perhaps.                           Sign analysis write before fight skin truth. Treat should partner economic return factor ability lead.\nSave choose Mr score quickly local. Stand water spend rest kitchen.            https://jones.com/    Digital        Modern 1830.28            12
   WAT_02         4           Political grow.                           Make along need training list speak. Activity social material trip protect successful. Position interest get behavior property.\nRed western need write clear animal money.      http://www.reynolds.com/ Watercolor        Modern 8016.05             9
   ACR_03         4          Tell name admit.                                                        Society tax view answer art majority Republican. Wear job practice of. Continue save body with nice. Within eat green clear society play keep.      https://www.elliott.net/    Acrylic       Realism 2346.55            16
   WAT_03         4                Carry can.                                                          Hope learn accept section manager spend. Stop must small parent something security discussion. Fish town avoid including Democrat and under.       http://www.wallace.com/ Watercolor Impressionism  268.78             7
   SCU_03         4            Federal world.                                                                               Style radio rich image factor energy federal. Draw building take require make station really. Body carry worry mention.            https://grant.com/  Sculpture Impressionism 9765.23            17
   OIL_03         4    Huge never particular.                                                          Across degree occur head. Base billion take interesting world.\nEnvironmental position full analysis development. Upon often by that worker.     https://farley-payne.org/        Oil        Modern 8615.57             9
   WAT_04         6       Issue focus minute.                                                       Six popular effort economic.\nCall thing include right still treat statement occur. Policy television record itself most. Sure pattern million.            https://jones.biz/ Watercolor        Modern 1324.17            18
   WAT_05         6          Somebody finish.                                                                                         Crime show nation month perhaps modern. Sport record ever push they.\nNew decade man trial language bag east.        http://www.hinton.net/ Watercolor      Abstract 8821.27            18
   OIL_04         6         Significant from.                                                 Whatever more financial sometimes task. Before attack direction. Today different great will road hear fight.\nMr dream financial. Study reveal scene.      http://www.gonzalez.com/        Oil       Realism 5530.89             9
   ACR_04         6     Present respond fast.                                                                                          Available act once condition research. Story window such brother boy movie.\nSecond soon reduce home school.        http://www.price.info/    Acrylic      Abstract 5926.32            17
   DIG_04         7      Themselves do green.                                                   Adult guess hit series your theory. Rich keep lot run far.\nActivity make top education feeling ok. Quite character site rather reason sort public. http://www.morris-fritz.info/    Digital      Abstract 5304.85             5
   ACR_05         7           Yard stand sit.                             Better fine indicate according. Mr there structure last pressure recent maintain.\nSection section from interesting kind hold. Participant region member example manager.            http://nguyen.com/    Acrylic       Realism 9500.44             1
   OIL_05         7                Cell soon.                                                    Smile build forget watch city memory which. Month run fear worker turn many.\nKnow him design particular. Process yet rich else offer industry to.         http://www.moody.com/        Oil      Abstract  743.33            14
   OIL_06         7     Build story military.                                                                         Seat career third administration. Amount seek still section.\nSpecific necessary common cell. Peace couple approach recently.      http://www.johnson.info/        Oil      Abstract 6516.03            11
   SCU_04         7                  Two son.                                              Always baby tell continue through continue case. Mission inside action explain like investment still democratic. Community senior president people lose.           https://moreno.com/  Sculpture Impressionism 3362.97             2
   ACR_06         8             Fact measure.                                              Here single most. Similar price certain boy. Believe walk itself yourself free relate face.\nGame free all kid. Nearly according money body five expert.  http://morris-hernandez.net/    Acrylic      Abstract 5917.39            15
   DIG_05         8                      Yes.                                                                   Dream since charge experience support fast sport. Benefit answer need area training. Wall heart theory early when expect structure.            http://walker.com/    Digital       Realism 5311.71             2
   DIG_06         9       South brother just. Like force program. Value instead offer table as low.\nLess national onto space other dog learn. Want here experience person weight everyone. Development quickly success conference federal sea bad.              http://hill.com/    Digital      Abstract 7644.16            15
   WAT_06         9      Bad dream president.                                   Blood shake reduce almost main. Beautiful service research create.\nAgree sure manage region several newspaper young end. Even somebody hotel age land over inside.            http://hayden.com/ Watercolor Impressionism 1638.27             8
   DIG_07         9            Agency before.                                                                                  Throughout close chance. Recently bed sound wrong head street writer win. Gun very a force those person institution.       https://diaz-moore.com/    Digital      Abstract 9084.81             7
   DIG_08         9 Nearly information glass.                                                                                                                             Thank large generation instead authority dinner. One minute parent agree.  http://rocha-cunningham.com/    Digital      Abstract 5176.14            12
   ACR_07         9                 Everyone.                                                                                          Wife rock drive cultural. Similar degree letter morning old finally pick majority. Our create air go member.         http://rodriguez.biz/    Acrylic Impressionism 4405.94            20
   WAT_07        10        Type build record.                    Four unit mention first girl. More hit truth ball.\nBeyond economy away those effect debate improve. Reason white serve house picture reduce. Middle have name election agreement.    https://holland-lopez.com/ Watercolor      Abstract 2931.25             3
   SCU_05        10                  Partner.                                 Public whether alone with middle other traditional. Bed suggest vote director practice especially. Glass base Republican production PM maintain. Star ball such your.             http://moore.com/  Sculpture      Abstract 9712.14            20
   OIL_07        10            Democrat news.                                     Different agreement church. Determine wish good.\nTraining case everyone positive film. Drive front little. Themselves responsibility important section actually.            http://durham.com/        Oil Impressionism 2793.27            18
 OrderID  BuyerID  OrderDate  TotalAmount PaymentStatus  ShippingStatus OrderTime
       1       11 2024-03-20      1692.68        Failed Order Confirmed  15:35:00
       2       11 2023-10-18      3162.51        Failed        Canceled  14:22:00
       3       11 2023-05-12       272.20        Failed Order Confirmed  21:18:00
       4       12 2023-03-13      4965.80     Completed        Canceled  19:30:00
       5       13 2023-05-03      4014.39     Completed        Canceled  14:33:00
       6       13 2023-11-22      3225.23     Completed Order Confirmed  19:05:00
       7       13 2022-09-17      2838.70     Completed       Delivered  18:05:00
       8       15 2022-08-01      4904.53        Failed Order Confirmed  13:29:00
       9       16 2021-07-07      2948.39     Completed         Shipped  20:27:00
      10       17 2024-07-06      2766.17       Pending         Shipped  18:23:00
      11       18 2021-03-02      2613.22        Failed         Shipped  13:08:00
      12       18 2022-03-01       717.59     Completed        Canceled  15:51:00
      13       18 2023-01-08      1051.79        Failed Order Confirmed  21:36:00
      14       19 2024-01-14      4893.27        Failed       Delivered  14:56:00
      15       19 2023-12-17      1653.49       Pending         Shipped  17:52:00
      16       19 2021-01-10       411.04       Pending       Delivered  16:58:00
      17       20 2022-04-03      2399.47        Failed        Canceled  21:42:00
      18       20 2023-12-04      1439.50       Pending        Canceled  13:49:00
      19       21 2024-07-23      2375.49     Completed        Canceled  13:53:00
      20       21 2023-04-18       927.19       Pending         Shipped  16:30:00
      21       22 2021-04-02      2171.06       Pending        Canceled  14:31:00
      22       23 2021-03-20      2624.23     Completed       Delivered  17:17:00
      23       25 2021-09-08       103.55     Completed Order Confirmed  15:02:00
      24       26 2024-06-24      1819.75        Failed         Shipped  17:19:00
      25       26 2024-08-21       398.35       Pending Order Confirmed  15:34:00
      26       26 2022-11-26      1465.18        Failed Order Confirmed  18:19:00
      27       27 2023-09-16      4414.26        Failed        Canceled  14:43:00
      28       27 2024-02-10      1557.09       Pending Order Confirmed  14:57:00
      29       29 2023-02-05      3020.36        Failed        Canceled  18:45:00
      30       30 2022-12-12      2370.73        Failed        Canceled  20:36:00
      31       32 2022-08-13      1648.30     Completed        Canceled  18:45:00
      32       32 2023-07-05      2676.40     Completed Order Confirmed  20:58:00
      33       32 2022-05-10      1817.51     Completed         Shipped  20:02:00
      34       33 2021-02-02      2634.65     Completed Order Confirmed  14:37:00
      35       33 2022-08-08       706.88       Pending       Delivered  15:26:00
      36       33 2022-04-17      1031.62       Pending        Canceled  13:56:00
      37       34 2021-05-11      4637.87     Completed       Delivered  14:53:00
      38       34 2021-12-23      4486.37       Pending         Shipped  22:40:00
      39       34 2022-11-04      4326.93     Completed Order Confirmed  15:13:00
      40       35 2023-08-14      2839.07     Completed         Shipped  13:03:00
      41       35 2024-05-08      3090.58       Pending        Canceled  13:12:00
      42       37 2022-10-01      3413.39        Failed       Delivered  21:04:00
      43       37 2021-06-08      1857.33     Completed Order Confirmed  16:50:00
      44       37 2024-08-22      1492.86        Failed         Shipped  20:10:00
      45       38 2021-06-14      4960.77        Failed Order Confirmed  14:06:00
      46       40 2021-08-09      2358.29       Pending Order Confirmed  19:36:00
      47       40 2022-05-25      1189.04        Failed       Delivered  21:42:00
      48       41 2021-04-10      3589.63        Failed       Delivered  19:00:00
      49       41 2024-07-18       829.98       Pending        Canceled  21:12:00
      50       41 2022-06-06      2191.53        Failed       Delivered  15:19:00
      51       42 2024-03-13      4100.93       Pending       Delivered  17:29:00
      52       42 2023-04-19      2878.96       Pending         Shipped  15:04:00
      53       42 2023-07-06       312.76        Failed Order Confirmed  21:55:00
      54       43 2022-10-11      1151.03       Pending Order Confirmed  22:01:00
      55       44 2023-04-09       724.10     Completed         Shipped  21:40:00
      56       44 2024-08-14      2096.73     Completed       Delivered  18:02:00
      57       45 2021-07-11      1044.34     Completed       Delivered  15:18:00
      58       45 2021-05-08      4939.97     Completed         Shipped  19:14:00
      59       45 2021-06-04      3942.51        Failed       Delivered  17:53:00
      60       46 2023-10-08      4912.67        Failed Order Confirmed  13:52:00
      61       46 2022-06-15      3638.78     Completed        Canceled  22:23:00
      62       46 2022-12-26      1669.33       Pending       Delivered  22:27:00

In [ ]:
import pandas as pd

df_users = pd.read_sql_query('SELECT * FROM User', conn)
df_users

    UserID   FirstName    LastName                            Email    Role
0        1        Mark       Smith             alison69@example.net  Artist
1        2      Taylor     Andrews       rodriguezmegan@example.com  Artist
2        3       Holly    Alvarado        valentinesean@example.net  Artist
3        4     Jeffrey    Martinez        woodalejandro@example.com  Artist
4        5        Sara      Newman              abright@example.net  Artist
5        6       Brett    Clements        elizabethshaw@example.net  Artist
6        7        Ryan    Harrison             hbridges@example.org  Artist
7        8     Suzanne      Wright              qhowell@example.net  Artist
8        9        John    Martinez       belindagilbert@example.net  Artist
9       10     Candice        Park             sydney78@example.com  Artist
10      11     Melissa       Yoder            michael77@example.org   Buyer
11      12    Kristina       Walsh     hickschristopher@example.org   Buyer
12      13     Jessica    Robinson  christopherbenjamin@example.com   Buyer
13      14        Mark          Wu         nguyensharon@example.com   Buyer
14      15      Eugene      Rhodes          bonniesimon@example.com   Buyer
15      16      Regina     Sampson             daniel02@example.com   Buyer
16      17       Robin     Gregory      joannachristian@example.com   Buyer
17      18        John       Brown            juliebyrd@example.net   Buyer
18      19        Beth     Stanley          rvillarreal@example.net   Buyer
19      20      Robert     Roberts              kfields@example.com   Buyer
20      21    Courtney       James             djimenez@example.net   Buyer
21      22     Deborah      Porter              eashley@example.com   Buyer
22      23      Andrew     Hawkins             daniel85@example.org   Buyer
23      24  Jacqueline      Henson              enewton@example.com   Buyer
24      25     Matthew     Walters              susan58@example.net   Buyer
25      26     Vincent    Anderson            hbradford@example.com   Buyer
26      27       Laura      Gentry            tanderson@example.net   Buyer
27      28      Pamela      Harris              maria92@example.net   Buyer
28      29    Victoria   Maldonado        lewisbenjamin@example.org   Buyer
29      30        Lisa      Sutton             robert91@example.org   Buyer
30      31   Alexandra  Villanueva        denisestewart@example.net   Buyer
31      32      Lauren        Meza              schavez@example.com   Buyer
32      33     Candace      Bowman            annalewis@example.org   Buyer
33      34       Julie         Ray               gdowns@example.com   Buyer
34      35      Daniel      Garcia       jamescastaneda@example.net   Buyer
35      36        Lisa   Rodriguez        lindseyfarmer@example.org   Buyer
36      37        Adam      Daniel           victorneal@example.org   Buyer
37      38     Raymond       Miles             ashley25@example.org   Buyer
38      39        Paul       Baker           bowersdawn@example.com   Buyer
39      40     Melissa    Crawford          briansuarez@example.com   Buyer
40      41     Russell       Wiley               yhorne@example.com   Buyer
41      42        Mark     Roberts      christopherhall@example.com   Buyer
42      43       Sarah      Carter             edward71@example.org   Buyer
43      44      Robert    Petersen               luke91@example.org   Buyer
44      45      Andrew    Campbell     alexandereverett@example.net   Buyer
45      46       David       Price            amyhudson@example.net   Buyer
46      47     Matthew     Vasquez            rebecca18@example.com   Buyer
47      48         Joy      Snyder           jonathan78@example.net   Buyer
48      49      Andrew       Nunez                qmora@example.net   Buyer
49      50       Brett       Evans        torresdarlene@example.net   Buyer

### Design a hash function and apply linear hashing

In [ ]:
import sqlite3

# Function to hash artwork IDs
def hash_artwork_id(artwork_id, num_buckets):
    prefix = artwork_id[:3]
    numeric_part = artwork_id.split('_')[1]

    ascii_sum = ord(prefix[0]) * 1 + ord(prefix[1]) * 2 + ord(prefix[2]) * 3
    for i, digit in enumerate(numeric_part):
        ascii_sum += ord(digit) * (i + 1)

    hash_value = ascii_sum + ord('A') + ord('I') + ord('S') + ord('E')

    final_hash = int(hash_value) % num_buckets

    return final_hash

# Initialize
initial_buckets = 2
bucket_size = 3
num_buckets = initial_buckets
buckets = [[] for _ in range(num_buckets)]
split_pointer = 0  # This is the split pointer, tracking the next bucket to split

def insert(artwork_id):
    global num_buckets, split_pointer

    hash_value = hash_artwork_id(artwork_id, num_buckets)
    bucket = buckets[hash_value]

    # Check if the bucket is full and needs splitting
    if len(bucket) >= bucket_size:
        # Split the bucket pointed by split_pointer
        split_bucket(split_pointer)
        # Recompute hash value after split, as num_buckets may have increased
        hash_value = hash_artwork_id(artwork_id, num_buckets)
        bucket = buckets[hash_value]

    bucket.append(artwork_id)
    print(f"Inserted {artwork_id} into Bucket {hash_value}")
    print(f"Hash value: {hash_artwork_id(artwork_id, num_buckets)}")

def split_bucket(bucket_index):
    global num_buckets, split_pointer

    new_bucket_index = num_buckets
    num_buckets += 1
    buckets.append([])  # Add new empty bucket

    old_bucket = buckets[bucket_index]
    print(f"Splitting Bucket {bucket_index}")

    items_to_rehash = old_bucket[:]
    old_bucket.clear()

    for item in items_to_rehash:
        new_index = hash_artwork_id(item, num_buckets)
        buckets[new_index].append(item)

    # Move the split pointer to the next bucket
    split_pointer = (split_pointer + 1) % initial_buckets

    print_buckets()

def print_buckets():
    print("\nCurrent Bucket States:")
    for i, bucket in enumerate(buckets):
        print(f"Bucket {i}: {bucket}")

# Connect to SQLite database
conn = sqlite3.connect('CanvasCart.db')
cursor = conn.cursor()

# Query to get all ArtworkIDs from the Artwork table
cursor.execute('SELECT ArtworkID FROM Artwork')
artwork_ids = cursor.fetchall()

# Insert artwork IDs into the hash table
for (artwork_id,) in artwork_ids:
    insert(artwork_id)

# Display final bucket states
print("\nFinal Bucket States:")
print_buckets()

Inserted ACR_01 into Bucket 1
Hash value: 1
Inserted ACR_02 into Bucket 1
Hash value: 1
Inserted ACR_03 into Bucket 1
Hash value: 1
Splitting Bucket 0

Current Bucket States:
Bucket 0: []
Bucket 1: ['ACR_01', 'ACR_02', 'ACR_03']
Bucket 2: []
Inserted ACR_04 into Bucket 2
Hash value: 2
Splitting Bucket 1

Current Bucket States:
Bucket 0: []
Bucket 1: ['ACR_01', 'ACR_03']
Bucket 2: ['ACR_04']
Bucket 3: ['ACR_02']
Inserted ACR_05 into Bucket 1
Hash value: 1
Inserted ACR_06 into Bucket 3
Hash value: 3
Splitting Bucket 0

Current Bucket States:
Bucket 0: []
Bucket 1: ['ACR_01', 'ACR_03', 'ACR_05']
Bucket 2: ['ACR_04']
Bucket 3: ['ACR_02', 'ACR_06']
Bucket 4: []
Inserted ACR_07 into Bucket 3
Hash value: 3
Splitting Bucket 1

Current Bucket States:
Bucket 0: []
Bucket 1: ['ACR_05']
Bucket 2: ['ACR_04']
Bucket 3: ['ACR_02', 'ACR_06', 'ACR_07', 'ACR_03']
Bucket 4: []
Bucket 5: ['ACR_01']
Inserted DIG_01 into Bucket 5
Hash value: 5
Inserted DIG_02 into Bucket 1
Hash value: 1
Splitting Bucket 0

Current Bucket States:
Bucket 0: []
Bucket 1: ['ACR_05', 'DIG_02']
Bucket 2: ['ACR_04']
Bucket 3: ['ACR_02', 'ACR_06', 'ACR_07', 'ACR_03']
Bucket 4: []
Bucket 5: ['ACR_01', 'DIG_01']
Bucket 6: []
Inserted DIG_03 into Bucket 6
Hash value: 6
Inserted DIG_04 into Bucket 1
Hash value: 1
Splitting Bucket 1

Current Bucket States:
Bucket 0: []
Bucket 1: ['ACR_05', 'DIG_02']
Bucket 2: ['ACR_04']
Bucket 3: ['ACR_02', 'ACR_06', 'ACR_07', 'ACR_03']
Bucket 4: []
Bucket 5: ['ACR_01', 'DIG_01', 'DIG_04']
Bucket 6: ['DIG_03']
Bucket 7: []
Inserted DIG_05 into Bucket 7
Hash value: 7
Inserted DIG_06 into Bucket 1
Hash value: 1
Splitting Bucket 0

Current Bucket States:
Bucket 0: []
Bucket 1: ['ACR_05', 'DIG_02', 'DIG_06']
Bucket 2: ['ACR_04']
Bucket 3: ['ACR_02', 'ACR_06', 'ACR_07', 'ACR_03']
Bucket 4: []
Bucket 5: ['ACR_01', 'DIG_01', 'DIG_04']
Bucket 6: ['DIG_03']
Bucket 7: ['DIG_05']
Bucket 8: []
Inserted DIG_07 into Bucket 2
Hash value: 2
Inserted DIG_08 into Bucket 4
Hash value: 4
Inserted OIL_01 into Bucket 7
Hash value: 7
Inserted OIL_02 into Bucket 0
Hash value: 0
Inserted OIL_03 into Bucket 2
Hash value: 2
Inserted OIL_04 into Bucket 4
Hash value: 4
Inserted OIL_05 into Bucket 6
Hash value: 6
Inserted OIL_06 into Bucket 8
Hash value: 8
Splitting Bucket 1

Current Bucket States:
Bucket 0: ['OIL_02']
Bucket 1: []
Bucket 2: ['ACR_04', 'DIG_07', 'OIL_03']
Bucket 3: ['ACR_02', 'ACR_06', 'ACR_07', 'ACR_03', 'DIG_06']
Bucket 4: ['DIG_08', 'OIL_04']
Bucket 5: ['ACR_01', 'DIG_01', 'DIG_04', 'DIG_02']
Bucket 6: ['DIG_03', 'OIL_05']
Bucket 7: ['DIG_05', 'OIL_01']
Bucket 8: ['OIL_06']
Bucket 9: ['ACR_05']
Inserted OIL_07 into Bucket 1
Hash value: 1
Inserted SCU_01 into Bucket 8
Hash value: 8
Inserted SCU_02 into Bucket 0
Hash value: 0
Splitting Bucket 0

Current Bucket States:
Bucket 0: ['OIL_02']
Bucket 1: ['OIL_07']
Bucket 2: ['ACR_04', 'DIG_07', 'OIL_03']
Bucket 3: ['ACR_02', 'ACR_06', 'ACR_07', 'ACR_03', 'DIG_06']
Bucket 4: ['DIG_08', 'OIL_04']
Bucket 5: ['ACR_01', 'DIG_01', 'DIG_04', 'DIG_02']
Bucket 6: ['DIG_03', 'OIL_05']
Bucket 7: ['DIG_05', 'OIL_01']
Bucket 8: ['OIL_06', 'SCU_01', 'SCU_02']
Bucket 9: ['ACR_05']
Bucket 10: []
Inserted SCU_03 into Bucket 10
Hash value: 10
Inserted SCU_04 into Bucket 1
Hash value: 1
Splitting Bucket 1

Current Bucket States:
Bucket 0: ['OIL_02']
Bucket 1: ['OIL_07']
Bucket 2: ['ACR_04', 'DIG_07', 'OIL_03', 'SCU_04']
Bucket 3: ['ACR_02', 'ACR_06', 'ACR_07', 'ACR_03', 'DIG_06']
Bucket 4: ['DIG_08', 'OIL_04']
Bucket 5: ['ACR_01', 'DIG_01', 'DIG_04', 'DIG_02']
Bucket 6: ['DIG_03', 'OIL_05']
Bucket 7: ['DIG_05', 'OIL_01']
Bucket 8: ['OIL_06', 'SCU_01', 'SCU_02']
Bucket 9: ['ACR_05']
Bucket 10: ['SCU_03']
Bucket 11: []
Inserted SCU_05 into Bucket 4
Hash value: 4
Splitting Bucket 0

Current Bucket States:
Bucket 0: []
Bucket 1: ['OIL_07']
Bucket 2: ['ACR_04', 'DIG_07', 'OIL_03', 'SCU_04']
Bucket 3: ['ACR_02', 'ACR_06', 'ACR_07', 'ACR_03', 'DIG_06']
Bucket 4: ['DIG_08', 'OIL_04', 'SCU_05']
Bucket 5: ['ACR_01', 'DIG_01', 'DIG_04', 'DIG_02']
Bucket 6: ['DIG_03', 'OIL_05']
Bucket 7: ['DIG_05', 'OIL_01', 'OIL_02']
Bucket 8: ['OIL_06', 'SCU_01', 'SCU_02']
Bucket 9: ['ACR_05']
Bucket 10: ['SCU_03']
Bucket 11: []
Bucket 12: []
Inserted WAT_01 into Bucket 8
Hash value: 8
Inserted WAT_02 into Bucket 10
Hash value: 10
Inserted WAT_03 into Bucket 12
Hash value: 12
Inserted WAT_04 into Bucket 1
Hash value: 1
Splitting Bucket 1

Current Bucket States:
Bucket 0: []
Bucket 1: ['WAT_04']
Bucket 2: ['ACR_04', 'DIG_07', 'OIL_03', 'SCU_04']
Bucket 3: ['ACR_02', 'ACR_06', 'ACR_07', 'ACR_03', 'DIG_06']
Bucket 4: ['DIG_08', 'OIL_04', 'SCU_05']
Bucket 5: ['ACR_01', 'DIG_01', 'DIG_04', 'DIG_02', 'OIL_07']
Bucket 6: ['DIG_03', 'OIL_05']
Bucket 7: ['DIG_05', 'OIL_01', 'OIL_02']
Bucket 8: ['OIL_06', 'SCU_01', 'SCU_02', 'WAT_01']
Bucket 9: ['ACR_05']
Bucket 10: ['SCU_03', 'WAT_02']
Bucket 11: []
Bucket 12: ['WAT_03']
Bucket 13: []
Inserted WAT_05 into Bucket 3
Hash value: 3
Splitting Bucket 0

Current Bucket States:
Bucket 0: []
Bucket 1: ['WAT_04']
Bucket 2: ['ACR_04', 'DIG_07', 'OIL_03', 'SCU_04']
Bucket 3: ['ACR_02', 'ACR_06', 'ACR_07', 'ACR_03', 'DIG_06', 'WAT_05']
Bucket 4: ['DIG_08', 'OIL_04', 'SCU_05']
Bucket 5: ['ACR_01', 'DIG_01', 'DIG_04', 'DIG_02', 'OIL_07']
Bucket 6: ['DIG_03', 'OIL_05']
Bucket 7: ['DIG_05', 'OIL_01', 'OIL_02']
Bucket 8: ['OIL_06', 'SCU_01', 'SCU_02', 'WAT_01']
Bucket 9: ['ACR_05']
Bucket 10: ['SCU_03', 'WAT_02']
Bucket 11: []
Bucket 12: ['WAT_03']
Bucket 13: []
Bucket 14: []
Inserted WAT_06 into Bucket 0
Hash value: 0
Splitting Bucket 1

Current Bucket States:
Bucket 0: ['WAT_06']
Bucket 1: []
Bucket 2: ['ACR_04', 'DIG_07', 'OIL_03', 'SCU_04']
Bucket 3: ['ACR_02', 'ACR_06', 'ACR_07', 'ACR_03', 'DIG_06', 'WAT_05']
Bucket 4: ['DIG_08', 'OIL_04', 'SCU_05']
Bucket 5: ['ACR_01', 'DIG_01', 'DIG_04', 'DIG_02', 'OIL_07']
Bucket 6: ['DIG_03', 'OIL_05']
Bucket 7: ['DIG_05', 'OIL_01', 'OIL_02']
Bucket 8: ['OIL_06', 'SCU_01', 'SCU_02', 'WAT_01']
Bucket 9: ['ACR_05']
Bucket 10: ['SCU_03', 'WAT_02']
Bucket 11: []
Bucket 12: ['WAT_03']
Bucket 13: []
Bucket 14: []
Bucket 15: ['WAT_04']
Inserted WAT_07 into Bucket 5
Hash value: 5

Final Bucket States:

Current Bucket States:
Bucket 0: ['WAT_06']
Bucket 1: []
Bucket 2: ['ACR_04', 'DIG_07', 'OIL_03', 'SCU_04']
Bucket 3: ['ACR_02', 'ACR_06', 'ACR_07', 'ACR_03', 'DIG_06', 'WAT_05']
Bucket 4: ['DIG_08', 'OIL_04', 'SCU_05']
Bucket 5: ['ACR_01', 'DIG_01', 'DIG_04', 'DIG_02', 'OIL_07', 'WAT_07']
Bucket 6: ['DIG_03', 'OIL_05']
Bucket 7: ['DIG_05', 'OIL_01', 'OIL_02']
Bucket 8: ['OIL_06', 'SCU_01', 'SCU_02', 'WAT_01']
Bucket 9: ['ACR_05']
Bucket 10: ['SCU_03', 'WAT_02']
Bucket 11: []
Bucket 12: ['WAT_03']
Bucket 13: []
Bucket 14: []
Bucket 15: ['WAT_04']

In [ ]:
# import sqlite3

# # Function to hash artwork IDs
# def hash_artwork_id(artwork_id, num_buckets):
#     prefix = artwork_id[:3]
#     numeric_part = artwork_id.split('_')[1]

#     ascii_sum = ord(prefix[0]) * 1 + ord(prefix[1]) * 2 + ord(prefix[2]) * 3
#     for i, digit in enumerate(numeric_part):
#         ascii_sum += ord(digit) * (i + 1)

#     #ascii_divisor = ord('A') if 'A' in artwork_id else ord('I')
#     hash_value = ascii_sum + ord('A')+ ord('I')+ ord('S')+ ord('E')

#     final_hash = int(hash_value) % num_buckets

#     return final_hash

# # Initialize
# initial_buckets = 2
# bucket_size = 3
# num_buckets = initial_buckets
# buckets = [[] for _ in range(num_buckets)]
# next_split = 0

# def insert(artwork_id):
#     global num_buckets, next_split

#     hash_value = hash_artwork_id(artwork_id, num_buckets)
#     bucket = buckets[hash_value]

#     if len(bucket) >= bucket_size:
#         split_bucket(hash_value)
#         hash_value = hash_artwork_id(artwork_id, num_buckets)
#         bucket = buckets[hash_value]

#     bucket.append(artwork_id)
#     print(f"Inserted {artwork_id} into Bucket {hash_value}")
#     print(f"Hash value: {hash_artwork_id(artwork_id, num_buckets)}")

# def split_bucket(bucket_index):
#     global num_buckets

#     new_bucket_index = num_buckets
#     num_buckets += 1
#     buckets.append([])  # Add new empty bucket

#     old_bucket = buckets[bucket_index]
#     print(f"Splitting Bucket {bucket_index}")

#     items_to_rehash = old_bucket[:]
#     old_bucket.clear()

#     for item in items_to_rehash:
#         new_index = hash_artwork_id(item, num_buckets)
#         buckets[new_index].append(item)

#     print_buckets()

# def print_buckets():
#     print("\nCurrent Bucket States:")
#     for i, bucket in enumerate(buckets):
#         print(f"Bucket {i}: {bucket}")

# # Connect to SQLite database
# conn = sqlite3.connect('CanvasCart.db')
# cursor = conn.cursor()

# # Query to get all ArtworkIDs from the Artwork table
# cursor.execute('SELECT ArtworkID FROM Artwork')
# artwork_ids = cursor.fetchall()

# # Insert artwork IDs into the hash table
# for (artwork_id,) in artwork_ids:
#     insert(artwork_id)

# # Display final bucket states
# print("\nFinal Bucket States:")
# print_buckets()

### Secondary Index

In [ ]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('CanvasCart.db')
cursor = conn.cursor()

# Create secondary index on ArtistID
cursor.execute('CREATE INDEX idx_medium ON Artwork (Medium);')
conn.commit()

In [ ]:
cursor.execute('EXPLAIN QUERY PLAN SELECT * FROM Artwork WHERE Medium = "Oil";')
query_plan = cursor.fetchall()

for step in query_plan:
    print(step)

(3, 0, 0, 'SEARCH Artwork USING INDEX idx_medium (Medium=?)')

In [ ]:
conn = sqlite3.connect('CanvasCart.db')
cursor = conn.cursor()

# Create secondary index on ArtistID
cursor.execute('CREATE INDEX idx_price ON Artwork (Price);')
conn.commit()

In [ ]:
cursor.execute('EXPLAIN QUERY PLAN SELECT * FROM Artwork WHERE Price <= 1000;')
query_plan = cursor.fetchall()

for step in query_plan:
    print(step)

(3, 0, 0, 'SEARCH Artwork USING INDEX idx_price (Price<?)')

### Clustering Index

In [ ]:
import sqlite3

# Create a non-unique index on ArtworkID
cursor.execute('CREATE INDEX idx_artistID ON Artwork(ArtistID)')

# Commit the changes and close the connection
conn.commit()

In [ ]:
# Use EXPLAIN QUERY PLAN to see how the query planner uses the index
cursor.execute("""
    EXPLAIN QUERY PLAN
    SELECT * FROM Artwork WHERE ArtistID = 1;
""")

# Fetch and print the query plan
query_plan = cursor.fetchall()
for step in query_plan:
    print(step)

(3, 0, 0, 'SEARCH Artwork USING INDEX idx_artistID (ArtistID=?)')

### Query: Information on 5 new contemporary artists

In [ ]:
conn = sqlite3.connect('CanvasCart.db')
cursor = conn.cursor()

# Insert new contemporary artists into the User table
artists = [
    ('Banksy', 'Anonymous', 'banksy@example.com', 'Artist'),
    ('Yayoi Kusama', 'Kusama', 'yayoi@example.com', 'Artist'),
    ('Ai Weiwei', 'Weiwei', 'aiweiwei@example.com', 'Artist'),
    ('Damien Hirst', 'Hirst', 'damien@example.com', 'Artist'),
    ('Jeff Koons', 'Koons', 'jeffkoons@example.com', 'Artist')
]

cursor.executemany('''
    INSERT INTO User (FirstName, LastName, Email, Role)
    VALUES (?, ?, ?, ?)
''', artists)

conn.commit()

In [ ]:
import pandas as pd

df_users = pd.read_sql_query('SELECT * FROM User', conn)
df_users

    UserID     FirstName    LastName                            Email    Role
0        1          Mark       Smith             alison69@example.net  Artist
1        2        Taylor     Andrews       rodriguezmegan@example.com  Artist
2        3         Holly    Alvarado        valentinesean@example.net  Artist
3        4       Jeffrey    Martinez        woodalejandro@example.com  Artist
4        5          Sara      Newman              abright@example.net  Artist
5        6         Brett    Clements        elizabethshaw@example.net  Artist
6        7          Ryan    Harrison             hbridges@example.org  Artist
7        8       Suzanne      Wright              qhowell@example.net  Artist
8        9          John    Martinez       belindagilbert@example.net  Artist
9       10       Candice        Park             sydney78@example.com  Artist
10      11       Melissa       Yoder            michael77@example.org   Buyer
11      12      Kristina       Walsh     hickschristopher@example.org   Buyer
12      13       Jessica    Robinson  christopherbenjamin@example.com   Buyer
13      14          Mark          Wu         nguyensharon@example.com   Buyer
14      15        Eugene      Rhodes          bonniesimon@example.com   Buyer
15      16        Regina     Sampson             daniel02@example.com   Buyer
16      17         Robin     Gregory      joannachristian@example.com   Buyer
17      18          John       Brown            juliebyrd@example.net   Buyer
18      19          Beth     Stanley          rvillarreal@example.net   Buyer
19      20        Robert     Roberts              kfields@example.com   Buyer
20      21      Courtney       James             djimenez@example.net   Buyer
21      22       Deborah      Porter              eashley@example.com   Buyer
22      23        Andrew     Hawkins             daniel85@example.org   Buyer
23      24    Jacqueline      Henson              enewton@example.com   Buyer
24      25       Matthew     Walters              susan58@example.net   Buyer
25      26       Vincent    Anderson            hbradford@example.com   Buyer
26      27         Laura      Gentry            tanderson@example.net   Buyer
27      28        Pamela      Harris              maria92@example.net   Buyer
28      29      Victoria   Maldonado        lewisbenjamin@example.org   Buyer
29      30          Lisa      Sutton             robert91@example.org   Buyer
30      31     Alexandra  Villanueva        denisestewart@example.net   Buyer
31      32        Lauren        Meza              schavez@example.com   Buyer
32      33       Candace      Bowman            annalewis@example.org   Buyer
33      34         Julie         Ray               gdowns@example.com   Buyer
34      35        Daniel      Garcia       jamescastaneda@example.net   Buyer
35      36          Lisa   Rodriguez        lindseyfarmer@example.org   Buyer
36      37          Adam      Daniel           victorneal@example.org   Buyer
37      38       Raymond       Miles             ashley25@example.org   Buyer
38      39          Paul       Baker           bowersdawn@example.com   Buyer
39      40       Melissa    Crawford          briansuarez@example.com   Buyer
40      41       Russell       Wiley               yhorne@example.com   Buyer
41      42          Mark     Roberts      christopherhall@example.com   Buyer
42      43         Sarah      Carter             edward71@example.org   Buyer
43      44        Robert    Petersen               luke91@example.org   Buyer
44      45        Andrew    Campbell     alexandereverett@example.net   Buyer
45      46         David       Price            amyhudson@example.net   Buyer
46      47       Matthew     Vasquez            rebecca18@example.com   Buyer
47      48           Joy      Snyder           jonathan78@example.net   Buyer
48      49        Andrew       Nunez                qmora@example.net   Buyer
49      50         Brett       Evans        torresdarlene@example.net   Buyer
50      51        Banksy   Anonymous               banksy@example.com  Artist
51      52  Yayoi Kusama      Kusama                yayoi@example.com  Artist
52      53     Ai Weiwei      Weiwei             aiweiwei@example.com  Artist
53      54  Damien Hirst       Hirst               damien@example.com  Artist
54      55    Jeff Koons       Koons            jeffkoons@example.com  Artist

### adding date column in artworks table

In [ ]:
conn = sqlite3.connect('CanvasCart.db')
cursor = conn.cursor()

# Add DateAdded column to the Artwork table
cursor.execute('''
    ALTER TABLE Artwork
    ADD COLUMN DateAdded TEXT;
''')

conn.commit()

In [ ]:
import datetime

fake = Faker()
conn = sqlite3.connect('CanvasCart.db')
cursor = conn.cursor()

# Generate a random date between two dates
def generate_random_date(start_date, end_date):
    return fake.date_between(start_date=start_date, end_date=end_date).strftime('%Y-%m-%d')

# Define date range as datetime.date objects
start_date = datetime.date(2021, 8, 1)
end_date = datetime.date(2024, 9, 1)

# Update each Artwork entry with a random DateAdded
cursor.execute('SELECT ArtworkID FROM Artwork')
artwork_ids = cursor.fetchall()

for (artwork_id,) in artwork_ids:
    random_date = generate_random_date(start_date, end_date)
    cursor.execute('''
        UPDATE Artwork
        SET DateAdded = ?
        WHERE ArtworkID = ?
    ''', (random_date, artwork_id))

conn.commit()

In [ ]:
conn = sqlite3.connect('CanvasCart.db')
cursor = conn.cursor()

# Query to get all records from the Artwork table
cursor.execute('SELECT * FROM Artwork')
artwork_records = cursor.fetchall()

# Fetch column names
columns = [description[0] for description in cursor.description]

# Create a DataFrame for easier viewing
df = pd.DataFrame(artwork_records, columns=columns)

# Display the DataFrame
print(df)

   ArtworkID  ArtistID                      Title  \
0     OIL_01         1             Than national.
1     ACR_01         1             It learn baby.
2     SCU_01         1             Plan age mind.
3     SCU_02         1               Family best.
4     ACR_02         2          Memory night six.
5     DIG_01         2            Call community.
6     DIG_02         2  Government pull movement.
7     WAT_01         2              Parent chair.
8     OIL_02         3           Go like brother.
9     DIG_03         3        Child deal perhaps.
10    WAT_02         4            Political grow.
11    ACR_03         4           Tell name admit.
12    WAT_03         4                 Carry can.
13    SCU_03         4             Federal world.
14    OIL_03         4     Huge never particular.
15    WAT_04         6        Issue focus minute.
16    WAT_05         6           Somebody finish.
17    OIL_04         6          Significant from.
18    ACR_04         6      Present respond fast.
19    DIG_04         7       Themselves do green.
20    ACR_05         7            Yard stand sit.
21    OIL_05         7                 Cell soon.
22    OIL_06         7      Build story military.
23    SCU_04         7                   Two son.
24    ACR_06         8              Fact measure.
25    DIG_05         8                       Yes.
26    DIG_06         9        South brother just.
27    WAT_06         9       Bad dream president.
28    DIG_07         9             Agency before.
29    DIG_08         9  Nearly information glass.
30    ACR_07         9                  Everyone.
31    WAT_07        10         Type build record.
32    SCU_05        10                   Partner.
33    OIL_07        10             Democrat news.

                                          Description  \
0   Spring own move score light certain science. B...
1   Conference inside response explain newspaper.\...
2   Building sign campaign compare friend financia...
3   Light together person position across knowledg...
4   Peace tonight money building involve region ra...
5   Much on experience around. Draw as close prove...
6   Through another amount see about sell bad. Let...
7   Hotel strategy health people quickly through.\...
8   Situation guess new right term campaign. Perso...
9   Sign analysis write before fight skin truth. T...
10  Make along need training list speak. Activity ...
11  Society tax view answer art majority Republica...
12  Hope learn accept section manager spend. Stop ...
13  Style radio rich image factor energy federal. ...
14  Across degree occur head. Base billion take in...
15  Six popular effort economic.\nCall thing inclu...
16  Crime show nation month perhaps modern. Sport ...
17  Whatever more financial sometimes task. Before...
18  Available act once condition research. Story w...
19  Adult guess hit series your theory. Rich keep ...
20  Better fine indicate according. Mr there struc...
21  Smile build forget watch city memory which. Mo...
22  Seat career third administration. Amount seek ...
23  Always baby tell continue through continue cas...
24  Here single most. Similar price certain boy. B...
25  Dream since charge experience support fast spo...
26  Like force program. Value instead offer table ...
27  Blood shake reduce almost main. Beautiful serv...
28  Throughout close chance. Recently bed sound wr...
29  Thank large generation instead authority dinne...
30  Wife rock drive cultural. Similar degree lette...
31  Four unit mention first girl. More hit truth b...
32  Public whether alone with middle other traditi...
33  Different agreement church. Determine wish goo...

                         ImageURL      Medium          Style    Price  \
0               http://smith.biz/         Oil       Abstract  4033.46
1              https://brown.com/     Acrylic         Modern  6148.36
2           http://www.blake.com/   Sculpture         Modern  5778.19
3           https://richards.com/   Sculpture  Impressionism  2042.83
4          https://www.gates.net/     Acrylic         Modern   851.41
5          http://www.crosby.com/     Digital  Impressionism  5859.53
6      http://roach-thompson.org/     Digital         Modern   828.71
7              http://bishop.com/  Watercolor        Realism  1051.71
8             https://abbott.com/         Oil  Impressionism  4628.20
9              https://jones.com/     Digital         Modern  1830.28
10       http://www.reynolds.com/  Watercolor         Modern  8016.05
11       https://www.elliott.net/     Acrylic        Realism  2346.55
12        http://www.wallace.com/  Watercolor  Impressionism   268.78
13             https://grant.com/   Sculpture  Impressionism  9765.23
14      https://farley-payne.org/         Oil         Modern  8615.57
15             https://jones.biz/  Watercolor         Modern  1324.17
16         http://www.hinton.net/  Watercolor       Abstract  8821.27
17       http://www.gonzalez.com/         Oil        Realism  5530.89
18         http://www.price.info/     Acrylic       Abstract  5926.32
19  http://www.morris-fritz.info/     Digital       Abstract  5304.85
20             http://nguyen.com/     Acrylic        Realism  9500.44
21          http://www.moody.com/         Oil       Abstract   743.33
22       http://www.johnson.info/         Oil       Abstract  6516.03
23            https://moreno.com/   Sculpture  Impressionism  3362.97
24   http://morris-hernandez.net/     Acrylic       Abstract  5917.39
25             http://walker.com/     Digital        Realism  5311.71
26               http://hill.com/     Digital       Abstract  7644.16
27             http://hayden.com/  Watercolor  Impressionism  1638.27
28        https://diaz-moore.com/     Digital       Abstract  9084.81
29   http://rocha-cunningham.com/     Digital       Abstract  5176.14
30          http://rodriguez.biz/     Acrylic  Impressionism  4405.94
31     https://holland-lopez.com/  Watercolor       Abstract  2931.25
32              http://moore.com/   Sculpture       Abstract  9712.14
33             http://durham.com/         Oil  Impressionism  2793.27

    Availability   DateAdded
0             18  2022-01-18
1             15  2023-10-18
2              7  2023-10-14
3              8  2023-08-24
4             18  2023-05-08
5             20  2021-10-28
6              9  2023-08-06
7             20  2023-07-27
8             14  2022-07-21
9             12  2022-05-13
10             9  2021-11-06
11            16  2022-05-05
12             7  2023-06-17
13            17  2023-09-19
14             9  2023-09-15
15            18  2024-01-27
16            18  2024-07-21
17             9  2021-09-11
18            17  2023-06-25
19             5  2022-03-27
20             1  2024-08-19
21            14  2024-08-03
22            11  2022-02-26
23             2  2024-01-09
24            15  2023-04-11
25             2  2022-04-09
26            15  2024-06-29
27             8  2023-03-16
28             7  2023-07-24
29            12  2022-04-28
30            20  2022-11-01
31             3  2022-02-22
32            20  2023-02-26
33            18  2022-05-02

### Query: Extract artwork listings made in the month of August, 2024

In [ ]:
conn = sqlite3.connect('CanvasCart.db')
cursor = conn.cursor()

query = '''
    SELECT * FROM Artwork
    WHERE DateAdded BETWEEN '2024-08-01' AND '2024-08-31'
'''

cursor.execute(query)
artworks_august_2024 = cursor.fetchall()

# Fetch column names
columns = [description[0] for description in cursor.description]

# Create a DataFrame for easier viewing
df_august_2024 = pd.DataFrame(artworks_august_2024, columns=columns)
df_august_2024

,ArtworkID,ArtistID,Title,Description,ImageURL,Medium,Style,Price,Availability,DateAdded
0,ACR_05,7,Yard stand sit.,Better fine indicate according. Mr there struc...,http://nguyen.com/,Acrylic,Realism,9500.44,1,2024-08-19
1,OIL_05,7,Cell soon.,Smile build forget watch city memory which. Mo...,http://www.moody.com/,Oil,Abstract,743.33,14,2024-08-03

### adding time column in order table

In [ ]:

# Define the SQL query to select all rows from the Orders table
query = 'SELECT * FROM Orders'

# Execute the query
cursor.execute(query)

# Fetch all results
results = cursor.fetchall()

# Print the column names
column_names = [description[0] for description in cursor.description]
print(f"{' | '.join(column_names)}")
print('-' * 80)

# Print the results
for row in results:
    print(f"{' | '.join(map(str, row))}")

OrderID | BuyerID | OrderDate | TotalAmount | PaymentStatus | ShippingStatus | OrderTime
--------------------------------------------------------------------------------
1 | 11 | 2024-03-20 | 1692.68 | Failed | Order Confirmed | 15:35:00
2 | 11 | 2023-10-18 | 3162.51 | Failed | Canceled | 14:22:00
3 | 11 | 2023-05-12 | 272.2 | Failed | Order Confirmed | 21:18:00
4 | 12 | 2023-03-13 | 4965.8 | Completed | Canceled | 19:30:00
5 | 13 | 2023-05-03 | 4014.39 | Completed | Canceled | 14:33:00
6 | 13 | 2023-11-22 | 3225.23 | Completed | Order Confirmed | 19:05:00
7 | 13 | 2022-09-17 | 2838.7 | Completed | Delivered | 18:05:00
8 | 15 | 2022-08-01 | 4904.53 | Failed | Order Confirmed | 13:29:00
9 | 16 | 2021-07-07 | 2948.39 | Completed | Shipped | 20:27:00
10 | 17 | 2024-07-06 | 2766.17 | Pending | Shipped | 18:23:00
11 | 18 | 2021-03-02 | 2613.22 | Failed | Shipped | 13:08:00
12 | 18 | 2022-03-01 | 717.59 | Completed | Canceled | 15:51:00
13 | 18 | 2023-01-08 | 1051.79 | Failed | Order Confirmed | 21:36:00
14 | 19 | 2024-01-14 | 4893.27 | Failed | Delivered | 14:56:00
15 | 19 | 2023-12-17 | 1653.49 | Pending | Shipped | 17:52:00
16 | 19 | 2021-01-10 | 411.04 | Pending | Delivered | 16:58:00
17 | 20 | 2022-04-03 | 2399.47 | Failed | Canceled | 21:42:00
18 | 20 | 2023-12-04 | 1439.5 | Pending | Canceled | 13:49:00
19 | 21 | 2024-07-23 | 2375.49 | Completed | Canceled | 13:53:00
20 | 21 | 2023-04-18 | 927.19 | Pending | Shipped | 16:30:00
21 | 22 | 2021-04-02 | 2171.06 | Pending | Canceled | 14:31:00
22 | 23 | 2021-03-20 | 2624.23 | Completed | Delivered | 17:17:00
23 | 25 | 2021-09-08 | 103.55 | Completed | Order Confirmed | 15:02:00
24 | 26 | 2024-06-24 | 1819.75 | Failed | Shipped | 17:19:00
25 | 26 | 2024-08-21 | 398.35 | Pending | Order Confirmed | 15:34:00
26 | 26 | 2022-11-26 | 1465.18 | Failed | Order Confirmed | 18:19:00
27 | 27 | 2023-09-16 | 4414.26 | Failed | Canceled | 14:43:00
28 | 27 | 2024-02-10 | 1557.09 | Pending | Order Confirmed | 14:57:00
29 | 29 | 2023-02-05 | 3020.36 | Failed | Canceled | 18:45:00
30 | 30 | 2022-12-12 | 2370.73 | Failed | Canceled | 20:36:00
31 | 32 | 2022-08-13 | 1648.3 | Completed | Canceled | 18:45:00
32 | 32 | 2023-07-05 | 2676.4 | Completed | Order Confirmed | 20:58:00
33 | 32 | 2022-05-10 | 1817.51 | Completed | Shipped | 20:02:00
34 | 33 | 2021-02-02 | 2634.65 | Completed | Order Confirmed | 14:37:00
35 | 33 | 2022-08-08 | 706.88 | Pending | Delivered | 15:26:00
36 | 33 | 2022-04-17 | 1031.62 | Pending | Canceled | 13:56:00
37 | 34 | 2021-05-11 | 4637.87 | Completed | Delivered | 14:53:00
38 | 34 | 2021-12-23 | 4486.37 | Pending | Shipped | 22:40:00
39 | 34 | 2022-11-04 | 4326.93 | Completed | Order Confirmed | 15:13:00
40 | 35 | 2023-08-14 | 2839.07 | Completed | Shipped | 13:03:00
41 | 35 | 2024-05-08 | 3090.58 | Pending | Canceled | 13:12:00
42 | 37 | 2022-10-01 | 3413.39 | Failed | Delivered | 21:04:00
43 | 37 | 2021-06-08 | 1857.33 | Completed | Order Confirmed | 16:50:00
44 | 37 | 2024-08-22 | 1492.86 | Failed | Shipped | 20:10:00
45 | 38 | 2021-06-14 | 4960.77 | Failed | Order Confirmed | 14:06:00
46 | 40 | 2021-08-09 | 2358.29 | Pending | Order Confirmed | 19:36:00
47 | 40 | 2022-05-25 | 1189.04 | Failed | Delivered | 21:42:00
48 | 41 | 2021-04-10 | 3589.63 | Failed | Delivered | 19:00:00
49 | 41 | 2024-07-18 | 829.98 | Pending | Canceled | 21:12:00
50 | 41 | 2022-06-06 | 2191.53 | Failed | Delivered | 15:19:00
51 | 42 | 2024-03-13 | 4100.93 | Pending | Delivered | 17:29:00
52 | 42 | 2023-04-19 | 2878.96 | Pending | Shipped | 15:04:00
53 | 42 | 2023-07-06 | 312.76 | Failed | Order Confirmed | 21:55:00
54 | 43 | 2022-10-11 | 1151.03 | Pending | Order Confirmed | 22:01:00
55 | 44 | 2023-04-09 | 724.1 | Completed | Shipped | 21:40:00
56 | 44 | 2024-08-14 | 2096.73 | Completed | Delivered | 18:02:00
57 | 45 | 2021-07-11 | 1044.34 | Completed | Delivered | 15:18:00
58 | 45 | 2021-05-08 | 4939.97 | Completed | Shipped | 19:14:00
59 | 45 | 2021-06-04 | 3942.51 | Failed | Delivered | 17:53:00
60 | 46 | 2023-10-08 | 4912.67 | Failed | Order Confirmed | 13:52:00
61 | 46 | 2022-06-15 | 3638.78 | Completed | Canceled | 22:23:00
62 | 46 | 2022-12-26 | 1669.33 | Pending | Delivered | 22:27:00
63 | 48 | 2021-01-15 | 1159.73 | Failed | Canceled | 17:42:00
64 | 49 | 2024-05-26 | 4148.04 | Completed | Canceled | 21:53:00
65 | 50 | 2023-05-17 | 3722.81 | Pending | Order Confirmed | 22:44:00

In [ ]:
import sqlite3
import pandas as pd

# Connect to SQLite database
conn = sqlite3.connect('CanvasCart.db')
cursor = conn.cursor()

# Query to select all columns from the Orders table
cursor.execute('SELECT * FROM Orders')
rows = cursor.fetchall()

# Convert the data into a DataFrame for better readability
df_orders = pd.DataFrame(rows, columns=[desc[0] for desc in cursor.description])
df_orders

,OrderID,BuyerID,OrderDate,TotalAmount,PaymentStatus,ShippingStatus,OrderTime
0,1,11,2024-03-20,1692.68,Failed,Order Confirmed,15:35:00
1,2,11,2023-10-18,3162.51,Failed,Canceled,14:22:00
2,3,11,2023-05-12,272.20,Failed,Order Confirmed,21:18:00
3,4,12,2023-03-13,4965.80,Completed,Canceled,19:30:00
4,5,13,2023-05-03,4014.39,Completed,Canceled,14:33:00
...,...,...,...,...,...,...,...
60,61,46,2022-06-15,3638.78,Completed,Canceled,22:23:00
61,62,46,2022-12-26,1669.33,Pending,Delivered,22:27:00
62,63,48,2021-01-15,1159.73,Failed,Canceled,17:42:00
63,64,49,2024-05-26,4148.04,Completed,Canceled,21:53:00
64,65,50,2023-05-17,3722.81,Pending,Order Confirmed,22:44:00

### Query: Remove all artwork purchases made after 7PM on August 15, 2024

In [ ]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('CanvasCart.db')
cursor = conn.cursor()


cutoff_date = '2024-08-15'
cutoff_time = '19:00:00'

cutoff_datetime = f'{cutoff_date} {cutoff_time}'

cursor.execute('''
    DELETE FROM Orders
    WHERE OrderDate = ? AND OrderTime > ?
''', (cutoff_date, cutoff_time))

# Commit the changes and close the connection
conn.commit()

# Check how many rows were affected
print(f"Rows deleted: {cursor.rowcount}")

Rows deleted: 0

## LAB2

Initial SQL queries

In [ ]:
import time

# Function to execute and time the query
def execute_and_time_query(query):
    start_time = time.time()  # Start timer
    cursor.execute(query)     # Execute query
    results = cursor.fetchall()  # Fetch results
    end_time = time.time()    # End timer
    return results, end_time - start_time

Query 1: Extract a list of all artist_name, artwork who have artwork listings in all months in 2023.

Initial

In [ ]:
import sqlite3

# Define the SQL query
query = '''
    SELECT u.FirstName AS ArtistFirstName, u.LastName AS ArtistLastName, art.Title AS ArtworkTitle
    FROM User u,  Artwork art
    WHERE u.UserID = art.ArtistID AND strftime('%Y', art.DateAdded) = '2023'
'''

# Execute the query
cursor.execute(query)

# Fetch all results
results = cursor.fetchall()

# Display the results
for row in results:
    artist_first_name = row[0]
    artist_last_name = row[1]
    artwork_title = row[2]
    print(f"Artist: {artist_first_name} {artist_last_name}, Artwork: {artwork_title}")

# Measure time for the first (non-optimized) query
results_1, time_1 = execute_and_time_query(query)
print(f"Execution time for non-optimized query: {time_1:.6f} seconds")

Artist: Mark Smith, Artwork: It learn baby.
Artist: Mark Smith, Artwork: Plan age mind.
Artist: Mark Smith, Artwork: Family best.
Artist: Taylor Andrews, Artwork: Memory night six.
Artist: Taylor Andrews, Artwork: Government pull movement.
Artist: Taylor Andrews, Artwork: Parent chair.
Artist: Jeffrey Martinez, Artwork: Carry can.
Artist: Jeffrey Martinez, Artwork: Federal world.
Artist: Jeffrey Martinez, Artwork: Huge never particular.
Artist: Brett Clements, Artwork: Present respond fast.
Artist: Suzanne Wright, Artwork: Fact measure.
Artist: John Martinez, Artwork: Bad dream president.
Artist: John Martinez, Artwork: Agency before.
Artist: Candice Park, Artwork: Partner.
Execution time for non-optimized query: 0.000153 seconds

Optimised

In [ ]:
import sqlite3

# Define the SQL query
query = '''
  SELECT u.FirstName, u.LastName, art.Title
  FROM (
      SELECT u.FirstName, u.LastName, u.UserID
      FROM User u
  ) u
  JOIN (
      SELECT art.ArtistID, art.Title
      FROM Artwork art
      WHERE strftime('%Y', art.DateAdded) = '2023'
  ) art
  ON u.UserID = art.ArtistID;

'''

# Execute the query
cursor.execute(query)

# Fetch all results
results = cursor.fetchall()

# Display the results
for row in results:
    artist_first_name = row[0]
    artist_last_name = row[1]
    artwork_title = row[2]
    print(f"Artist: {artist_first_name} {artist_last_name}, Artwork: {artwork_title}")

# Measure time for the second (optimized) query
results_2, time_2 = execute_and_time_query(query)
print(f"Execution time for optimized query: {time_2:.6f} seconds")

Artist: Mark Smith, Artwork: It learn baby.
Artist: Mark Smith, Artwork: Plan age mind.
Artist: Mark Smith, Artwork: Family best.
Artist: Taylor Andrews, Artwork: Memory night six.
Artist: Taylor Andrews, Artwork: Government pull movement.
Artist: Taylor Andrews, Artwork: Parent chair.
Artist: Jeffrey Martinez, Artwork: Carry can.
Artist: Jeffrey Martinez, Artwork: Federal world.
Artist: Jeffrey Martinez, Artwork: Huge never particular.
Artist: Brett Clements, Artwork: Present respond fast.
Artist: Suzanne Wright, Artwork: Fact measure.
Artist: John Martinez, Artwork: Bad dream president.
Artist: John Martinez, Artwork: Agency before.
Artist: Candice Park, Artwork: Partner.
Execution time for optimized query: 0.000170 seconds

Query 2: Get all artists who have sculptures

Initial

In [ ]:
import sqlite3

query = '''
    SELECT u.FirstName, u.LastName
    FROM User u, Artwork art
    WHERE u.UserID = art.ArtistID AND strftime('%Y', art.DateAdded) = '2023' AND art.medium = 'Sculpture'
'''

# Execute the query
cursor.execute(query)

# Fetch all results
results = cursor.fetchall()

# Print the names of artists with at least one sculpture
print("Artists with at least one sculpture:")
for row in results:
    artist_first_name = row[0]
    artist_last_name = row[1]
    print(f"{artist_first_name} {artist_last_name}")

# Measure time for the first (non-optimized) query
results_1, time_1 = execute_and_time_query(query)
print(f"Execution time for non-optimized query: {time_1:.6f} seconds")

Artists with at least one sculpture:
Mark Smith
Mark Smith
Jeffrey Martinez
Candice Park
Execution time for non-optimized query: 0.000752 seconds

Optimised

In [ ]:
import sqlite3

query = '''
SELECT u.FirstName, u.LastName
      FROM (SELECT u.FirstName, u.LastName, u.UserID
            FROM User u) u
JOIN (SELECT art.ArtistID, art.Title
      FROM Artwork art
      WHERE strftime('%Y', art.DateAdded) = '2023' AND art.Medium = 'Sculpture') art
ON u.UserID = art.ArtistID;
'''

# Execute the query
cursor.execute(query)

# Fetch all results
results = cursor.fetchall()

# Print the names of artists with at least one sculpture
print("Artists with at least one sculpture:")
for row in results:
    artist_first_name = row[0]
    artist_last_name = row[1]
    print(f"{artist_first_name} {artist_last_name}")

# Measure time for the first (non-optimized) query
results_1, time_1 = execute_and_time_query(query)
print(f"Execution time for non-optimized query: {time_1:.6f} seconds")

Artists with at least one sculpture:
Mark Smith
Mark Smith
Jeffrey Martinez
Candice Park
Execution time for non-optimized query: 0.000107 seconds

Query 3: Get artists who do not have any artwork listings

Initial

In [ ]:
from tabulate import tabulate

query = '''
    SELECT u.UserID, u.FirstName, u.LastName, a.Biography, a.PortfolioURL
    FROM User u
    JOIN Artist a ON u.UserID = a.ArtistID
    LEFT JOIN Artwork art ON art.ArtistID = a.ArtistID
    WHERE art.ArtworkID IS NULL
'''

# Execute the query
cursor.execute(query)

# Fetch all results
results = cursor.fetchall()

# Print the artist profiles with no artwork listings
table_headers = ["UserID", "FirstName", "LastName", "Biography", "Portfolio URL"]
table_data = [list(row) for row in results]

# Print the table
print("Artists with no artwork listings:")
print(tabulate(table_data, headers=table_headers, tablefmt='grid'))

# Measure time for the first (non-optimized) query
results_1, time_1 = execute_and_time_query(query)
print(f"Execution time for non-optimized query: {time_1:.6f} seconds")

Artists with no artwork listings:
+----------+-------------+------------+----------------------------------------------------------------------------+----------------------------+
|   UserID | FirstName   | LastName   | Biography                                                                  | Portfolio URL              |
+==========+=============+============+============================================================================+============================+
|        5 | Sara        | Newman     | Mrs paper art first grow. Accept tax person quickly activity subject meet. | http://wagner-jordan.info/ |
|          |             |            | There fight down sense against five.                                       |                            |
|          |             |            | View main sea whose. Camera task put any arm tough.                        |                            |
|          |             |            | Understand yourself customer call.                                         |                            |
+----------+-------------+------------+----------------------------------------------------------------------------+----------------------------+
Execution time for non-optimized query: 0.000109 seconds

Optimised

In [ ]:
from tabulate import tabulate

query = '''
    SELECT u.UserID, u.FirstName, u.LastName, a_wo_art.Biography, a_wo_art.PortfolioURL
    FROM (
        SELECT*
    FROM Artist a
    LEFT JOIN (
                SELECT art.ArtistID, art.ArtworkID
                From Artwork art
            )art
    ON art.ArtistID = a.ArtistID
    WHERE art.ArtworkID IS NULL ) AS a_wo_ART
    JOIN (
        SELECT u.UserID, u.FirstName, u.LastName
        FROM User u
    ) u
    ON u.UserID = a_wo_art.ArtistID;'''
# Execute the query
cursor.execute(query)

# Fetch all results
results = cursor.fetchall()

# Print the artist profiles with no artwork listings
table_headers = ["UserID", "FirstName", "LastName", "Biography", "Portfolio URL"]
table_data = [list(row) for row in results]

# Print the table
print("Artists with no artwork listings:")
print(tabulate(table_data, headers=table_headers, tablefmt='grid'))

# Measure time for the first (non-optimized) query
results_1, time_1 = execute_and_time_query(query)
print(f"Execution time for non-optimized query: {time_1:.6f} seconds")

Artists with no artwork listings:
+----------+-------------+------------+----------------------------------------------------------------------------+----------------------------+
|   UserID | FirstName   | LastName   | Biography                                                                  | Portfolio URL              |
+==========+=============+============+============================================================================+============================+
|        5 | Sara        | Newman     | Mrs paper art first grow. Accept tax person quickly activity subject meet. | http://wagner-jordan.info/ |
|          |             |            | There fight down sense against five.                                       |                            |
|          |             |            | View main sea whose. Camera task put any arm tough.                        |                            |
|          |             |            | Understand yourself customer call.                                         |                            |
+----------+-------------+------------+----------------------------------------------------------------------------+----------------------------+
Execution time for non-optimized query: 0.000118 seconds

Query 4:  get buyers who purchased oil paintings in 2022

Initial

In [ ]:
query = '''
    SELECT DISTINCT u.UserID, u.FirstName, u.LastName
    FROM Orders o,Item i, Artwork art, User u
    WHERE u.UserID = o.BuyerID AND o.OrderID = i.OrderID AND i.ArtworkID = art.ArtworkID AND art.Medium = 'Oil' AND strftime('%Y', o.OrderDate) = '2022'
'''

# Execute the query
cursor.execute(query)

# Fetch all results
results = cursor.fetchall()

# Print the list of buyers
print("Buyers who purchased oil paintings in 2022:")
for row in results:
    buyer_id = row[0]
    first_name = row[1]
    last_name = row[2]
    print(f"BuyerID: {buyer_id}, Name: {first_name} {last_name}")

# Measure time for the first (non-optimized) query
results_1, time_1 = execute_and_time_query(query)
print(f"Execution time for non-optimized query: {time_1:.6f} seconds")

Buyers who purchased oil paintings in 2022:
BuyerID: 20, Name: Robert Roberts
BuyerID: 13, Name: Jessica Robinson
BuyerID: 33, Name: Candace Bowman
BuyerID: 46, Name: David Price
BuyerID: 40, Name: Melissa Crawford
BuyerID: 15, Name: Eugene Rhodes
BuyerID: 37, Name: Adam Daniel
BuyerID: 41, Name: Russell Wiley
Execution time for non-optimized query: 0.000207 seconds

Optimised

In [ ]:
query = '''
    SELECT DISTINCT
        u.UserID,
        u.FirstName,
        u.LastName
    FROM
        (SELECT i.OrderID, i.ArtworkID
        FROM Item i) i
    JOIN
        (SELECT art.ArtworkID
        FROM Artwork art
        WHERE art.Medium = 'Oil') art
    ON i.ArtworkID = art.ArtworkID
    JOIN
        (SELECT o.OrderID, o.BuyerID
        FROM Orders o
        WHERE strftime('%Y', o.OrderDate) = '2022') o
    ON i.OrderID = o.OrderID
    JOIN
        (SELECT  u.UserID, u.FirstName, u.LastName
        FROM User u) u
    ON o.BuyerID = u.UserID;
'''

# Execute the query
cursor.execute(query)

# Fetch all results
results = cursor.fetchall()

# Print the list of buyers
print("Buyers who purchased oil paintings in 2022:")
for row in results:
    buyer_id = row[0]
    first_name = row[1]
    last_name = row[2]
    print(f"BuyerID: {buyer_id}, Name: {first_name} {last_name}")

# Measure time for the first (non-optimized) query
results_1, time_1 = execute_and_time_query(query)
print(f"Execution time for non-optimized query: {time_1:.6f} seconds")

Buyers who purchased oil paintings in 2022:
BuyerID: 20, Name: Robert Roberts
BuyerID: 13, Name: Jessica Robinson
BuyerID: 33, Name: Candace Bowman
BuyerID: 46, Name: David Price
BuyerID: 40, Name: Melissa Crawford
BuyerID: 15, Name: Eugene Rhodes
BuyerID: 37, Name: Adam Daniel
BuyerID: 41, Name: Russell Wiley
Execution time for non-optimized query: 0.000155 seconds

query 5 : From the above list, derive a list of the artists and their profile information.

Initial

In [ ]:
from tabulate import tabulate

query = '''
    SELECT DISTINCT u.FirstName AS ArtistFirstName, u.LastName AS ArtistLastName, art.Biography, art.PortfolioURL
    FROM User u, Artist art, Artwork a, Item i, Orders o
    WHERE u.UserID = art.ArtistID
    AND art.ArtistID = a.ArtistID
    AND a.ArtworkID = i.ArtworkID
    AND i.OrderID = o.OrderID
    AND a.Medium = 'Oil'
    AND strftime('%Y', o.OrderDate) = '2022'
'''

# Execute the query
cursor.execute(query)

# Fetch all results
results = cursor.fetchall()

# Define headers for the table
headers = ["Artist First Name", "Artist Last Name", "Biography", "Portfolio URL"]

# Print the results in tabular format
print(tabulate(results, headers=headers, tablefmt="pretty"))

# Measure time for the first (non-optimized) query
results_1, time_1 = execute_and_time_query(query)
print(f"Execution time for non-optimized query: {time_1:.6f} seconds")

+-------------------+------------------+----------------------------------------------------------------------------------------------------------------------+-------------------------------+
| Artist First Name | Artist Last Name |                                                      Biography                                                       |         Portfolio URL         |
+-------------------+------------------+----------------------------------------------------------------------------------------------------------------------+-------------------------------+
|       Mark        |      Smith       |   Partner expert discover hold appear. Value offer practice want. Least forget suffer final call PM leave writer.    |    https://www.chung.com/     |
|       Holly       |     Alvarado     |                              Quality mind deep through. Law mean term spring something.                              | https://www.hall-bentley.biz/ |
|                   |                  | Media it yard cell. Newspaper party and service data never example. Treatment kitchen study include report behavior. |                               |
|      Jeffrey      |     Martinez     |                      Mind item likely clear billion. Produce whose business despite their red.                       |     http://www.house.org/     |
|                   |                  |                Man see military course. One when real people. Growth focus rule discussion at quite.                 |                               |
|       Brett       |     Clements     |         Dark like network I. Around lose play result thousand price. Point administration contain pass line.         |       https://lee.biz/        |
|                   |                  |                  Final space figure everybody goal. West project middle reach imagine me break sea.                  |                               |
|       Ryan        |     Harrison     |                             Fine billion add specific table out. Consumer media central.                             |    https://cox-simon.com/     |
|      Candice      |       Park       |                               Window worry indeed stand do. Page present wrong whose.                                |     https://phillips.org/     |
|                   |                  |  Bill south article grow increase. Defense task eat usually cup process. Itself American stage four pay different.   |                               |
+-------------------+------------------+----------------------------------------------------------------------------------------------------------------------+-------------------------------+
Execution time for non-optimized query: 0.000213 seconds

Optimised

In [ ]:
from tabulate import tabulate

query = '''
    SELECT DISTINCT
    u.UserID,
    u.FirstName,
    u.LastName,
    a.biography,
    a.portfolioURL
FROM
    (SELECT i.OrderID, i.ArtworkID
    FROM Item i) AS i
JOIN
    (SELECT art.ArtworkID, art.ArtistID
    FROM Artwork art
    WHERE art.Medium = 'Oil') AS art
ON i.ArtworkID = art.ArtworkID
JOIN
    (SELECT o.OrderID, o.BuyerID
    FROM Orders o
    WHERE strftime('%Y', o.OrderDate) = '2022') AS o
ON i.OrderID = o.OrderID
JOIN
    (SELECT a.ArtistID, a.biography, a.portfolioURL
    FROM Artist a) AS a
ON art.ArtistID = a.ArtistID
JOIN
    (SELECT u.UserID, u.FirstName, u.LastName
    FROM User u) AS u
ON a.ArtistID = u.UserID;


'''

# Execute the query
cursor.execute(query)

# Fetch all results
results = cursor.fetchall()

# Define headers for the table
headers = ["Artist First Name", "Artist Last Name", "Biography", "Portfolio URL"]

# Print the results in tabular format
print(tabulate(results, headers=headers, tablefmt="pretty"))

# Measure time for the first (non-optimized) query
results_1, time_1 = execute_and_time_query(query)
print(f"Execution time for non-optimized query: {time_1:.6f} seconds")

+----+-------------------+------------------+----------------------------------------------------------------------------------------------------------------------+-------------------------------+
|    | Artist First Name | Artist Last Name |                                                      Biography                                                       |         Portfolio URL         |
+----+-------------------+------------------+----------------------------------------------------------------------------------------------------------------------+-------------------------------+
| 1  |       Mark        |      Smith       |   Partner expert discover hold appear. Value offer practice want. Least forget suffer final call PM leave writer.    |    https://www.chung.com/     |
| 3  |       Holly       |     Alvarado     |                              Quality mind deep through. Law mean term spring something.                              | https://www.hall-bentley.biz/ |
|    |                   |                  | Media it yard cell. Newspaper party and service data never example. Treatment kitchen study include report behavior. |                               |
| 4  |      Jeffrey      |     Martinez     |                      Mind item likely clear billion. Produce whose business despite their red.                       |     http://www.house.org/     |
|    |                   |                  |                Man see military course. One when real people. Growth focus rule discussion at quite.                 |                               |
| 6  |       Brett       |     Clements     |         Dark like network I. Around lose play result thousand price. Point administration contain pass line.         |       https://lee.biz/        |
|    |                   |                  |                  Final space figure everybody goal. West project middle reach imagine me break sea.                  |                               |
| 7  |       Ryan        |     Harrison     |                             Fine billion add specific table out. Consumer media central.                             |    https://cox-simon.com/     |
| 10 |      Candice      |       Park       |                               Window worry indeed stand do. Page present wrong whose.                                |     https://phillips.org/     |
|    |                   |                  |  Bill south article grow increase. Defense task eat usually cup process. Itself American stage four pay different.   |                               |
+----+-------------------+------------------+----------------------------------------------------------------------------------------------------------------------+-------------------------------+
Execution time for non-optimized query: 0.000151 seconds

query 6 : Derive a list of all buyer_profiles who have not made any purchases.

Initial

In [ ]:
from tabulate import tabulate

# Define the SQL query to get buyers who have not made any purchases
query = '''
    SELECT b.BuyerID, u.FirstName, u.LastName, b.ShippingAddress, b.Membership
    FROM Buyer b
    JOIN User u ON b.BuyerID = u.UserID
    LEFT JOIN Orders o ON b.BuyerID = o.BuyerID
    WHERE o.OrderID IS NULL
'''

# Execute the query
cursor.execute(query)

# Fetch all results
results = cursor.fetchall()

# Prepare data for tabulate
table_headers = ["BuyerID", "FirstName", "LastName", "ShippingAddress", "Membership"]
table_data = [list(row) for row in results]

# Print the table
print("Buyers who have not made any purchases:")
print(tabulate(table_data, headers=table_headers, tablefmt='grid'))

# Measure time for the first (non-optimized) query
results_1, time_1 = execute_and_time_query(query)
print(f"Execution time for non-optimized query: {time_1:.6f} seconds")

Buyers who have not made any purchases:
+-----------+-------------+------------+-------------------------------+--------------+
|   BuyerID | FirstName   | LastName   | ShippingAddress               |   Membership |
+===========+=============+============+===============================+==============+
|        14 | Mark        | Wu         | 269 Smith Trail Apt. 772      |            1 |
|           |             |            | West Ashleyville, PW 68327    |              |
+-----------+-------------+------------+-------------------------------+--------------+
|        24 | Jacqueline  | Henson     | 279 Megan Fields              |            1 |
|           |             |            | Warrenmouth, RI 02451         |              |
+-----------+-------------+------------+-------------------------------+--------------+
|        28 | Pamela      | Harris     | 9805 Jessica Greens Suite 649 |            1 |
|           |             |            | New Williamside, AK 47828     |              |
+-----------+-------------+------------+-------------------------------+--------------+
|        31 | Alexandra   | Villanueva | 3355 Tate Lodge Suite 662     |            0 |
|           |             |            | Jenniferland, VT 40350        |              |
+-----------+-------------+------------+-------------------------------+--------------+
|        36 | Lisa        | Rodriguez  | 45042 Brandon Lodge           |            1 |
|           |             |            | South Christopher, NJ 35194   |              |
+-----------+-------------+------------+-------------------------------+--------------+
|        39 | Paul        | Baker      | PSC 7393, Box 8586            |            0 |
|           |             |            | APO AA 72998                  |              |
+-----------+-------------+------------+-------------------------------+--------------+
|        47 | Matthew     | Vasquez    | 087 Jones Island Suite 247    |            1 |
|           |             |            | Billfurt, IA 90906            |              |
+-----------+-------------+------------+-------------------------------+--------------+
Execution time for non-optimized query: 0.000213 seconds

Optimised

In [ ]:
from tabulate import tabulate

# Define the SQL query to get buyers who have not made any purchases
query = '''
    SELECT  b_wo_o.BuyerID, u.FirstName, u.LastName,  b_wo_o.ShippingAddress,  b_wo_o.Membership
    FROM (
        SELECT *
        FROM Buyer b
        LEFT JOIN (SELECT o.OrderID, o.BuyerID
                   FROM Orders o
                ) o
        ON b.BuyerID=o.BuyerID
        WHERE o.OrderID IS NULL) AS b_wo_o
    JOIN(
        SELECT u.UserID, u.FirstName, u.LastName
        FROM User u
    ) u
    ON  b_wo_o.BuyerID = u.UserID;
'''
# Execute the query
cursor.execute(query)

# Fetch all results
results = cursor.fetchall()

# Prepare data for tabulate
table_headers = ["BuyerID", "FirstName", "LastName", "ShippingAddress", "Membership"]
table_data = [list(row) for row in results]

# Print the table
print("Buyers who have not made any purchases:")
print(tabulate(table_data, headers=table_headers, tablefmt='grid'))

# Measure time for the first (non-optimized) query
results_1, time_1 = execute_and_time_query(query)
print(f"Execution time for non-optimized query: {time_1:.6f} seconds")

Buyers who have not made any purchases:
+-----------+-------------+------------+-------------------------------+--------------+
|   BuyerID | FirstName   | LastName   | ShippingAddress               |   Membership |
+===========+=============+============+===============================+==============+
|        14 | Mark        | Wu         | 269 Smith Trail Apt. 772      |            1 |
|           |             |            | West Ashleyville, PW 68327    |              |
+-----------+-------------+------------+-------------------------------+--------------+
|        24 | Jacqueline  | Henson     | 279 Megan Fields              |            1 |
|           |             |            | Warrenmouth, RI 02451         |              |
+-----------+-------------+------------+-------------------------------+--------------+
|        28 | Pamela      | Harris     | 9805 Jessica Greens Suite 649 |            1 |
|           |             |            | New Williamside, AK 47828     |              |
+-----------+-------------+------------+-------------------------------+--------------+
|        31 | Alexandra   | Villanueva | 3355 Tate Lodge Suite 662     |            0 |
|           |             |            | Jenniferland, VT 40350        |              |
+-----------+-------------+------------+-------------------------------+--------------+
|        36 | Lisa        | Rodriguez  | 45042 Brandon Lodge           |            1 |
|           |             |            | South Christopher, NJ 35194   |              |
+-----------+-------------+------------+-------------------------------+--------------+
|        39 | Paul        | Baker      | PSC 7393, Box 8586            |            0 |
|           |             |            | APO AA 72998                  |              |
+-----------+-------------+------------+-------------------------------+--------------+
|        47 | Matthew     | Vasquez    | 087 Jones Island Suite 247    |            1 |
|           |             |            | Billfurt, IA 90906            |              |
+-----------+-------------+------------+-------------------------------+--------------+
Execution time for non-optimized query: 0.000195 seconds